openapi: 3.0.0
info:
  version: "2.0"
  title: generic iSHARE API specifications
  description: >-
    These are the generic API specifications of iSHARE Scheme v2.0.


    These specifications describe the standardised identification,
    authentication and authorization mechanisms to be implemented by iSHARE
    participants. Depending on the role your organisation fulfils within the
    iSHARE Scheme, you need to provide an iSHARE API according to the
    specifications below.


    It is essential to understand that this page describes the generic API
    specifications for participants. The endpoints described are not actual
    functioning endpoints. For example, any Service Provider in iSHARE needs to
    implement the API endpoints as described in the Service Provider section,
    but his exact endpoints may vary. The /capabilities endpoint, which is
    required for every participant, displays the actual endpoints exposed under
    iSHARE for participants.
  contact:
    url: http://dev.ishare.eu
    email: support@iSHARE.eu
servers:
  - description: iSHARE test network base domain
    url: https://isharetest.net
tags:
  - name: iSHARE Satellite
    description: Endpoints that form the iSHARE Satellite API specification.
  - name: Service Provider
    description: Endpoints that form the Service Provider API specification.
  - name: Identity Provider
    description: Endpoints that form the Identity Provider API specification.
  - name: Authorisation Registry
    description: Endpoints that form the Authorisation Registry API specification.
paths:
  /capabilities:
    get:
      tags:
        - iSHARE Satellite
        - Authorisation Registry
        - Service Provider
        - Identity Provider
      security:
        - BearerAuth: []
        - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilitiesResponse'
          description: OK
      deprecated: false
      operationId: /capabilities
      summary: Retrieves iSHARE capabilities
      description: >-
        The /capabilities endpoint is required for every participant that
        provides services. The endpoint returns iSHARE capabilities (supported
        versions & optional features) of the iSHARE party. 


        The capabilities endpoint should only return the public endpoints if no
        access token is provided. If an access token is provided, the
        capabilities endpoint will also provide the restricted endpoints. A
        party may also have private endpoints, which are endpoints for their own
        internal organization, also known as endpoints that are implemented, but
        not to share with the others. These endpoints are not within the scope
        of iSHARE and should not be returned to other iSHARE parties.


        Server response is an iSHARE signed JSON Web Token. Please refer to the
        models 'jwt_header' and 'jwt_payload_capabilities_token' which indicate
        what the decoded response will look like.
  /trusted_list:
    get:
      tags:
        - iSHARE Satellite
      security:
        - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustedListResponse'
          description: OK
      deprecated: false
      operationId: /trusted_list
      summary: Retrieves list of trusted certificate authorities
      description: >
        Used to obtain the iSHARE list of trusted certificate authorities
        (currently, eIDAS certificate issuer certificate authorities). 


        Server response is an iSHARE signed JSON Web Token. Please refer to the
        models 'jwt_header' and 'jwt_payload_trusted_list_token' which indicate
        what the decoded response will look like.
  /parties/{party_id}:
    get:
      tags:
        - iSHARE Satellite
      security:
        - BearerAuth: []
      parameters:
        - style: simple
          name: party_id
          description: The id of the party whose record must be fetched
          schema:
            type: string
            example: did:ishare:NTRNL-12345678
          in: path
          required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyResponse'
          description: OK
      deprecated: false
      operationId: /parties/{party_id}
      summary: Retrieves one party
      description: >-
        Used to obtain information on an iSHARE participant from the iSHARE
        Satellite. It returns exact participant matched using its ID.


        Server response is an iSHARE signed JSON Web Token. Please refer to the
        models 'jwt_header' and 'jwt_payload_party_token' which indicate what
        the decoded response will look like.
  /parties:
    get:
      tags:
        - iSHARE Satellite
      security:
        - BearerAuth: []
      parameters:
        - style: form
          explode: true
          name: active_only
          description: Optional parameter used to search by party's  "Active" status.
          schema:
            type: boolean
            example: true
          in: query
        - style: form
          explode: true
          name: name
          description: >-
            Optional parameter used to search by party's name. Can contain a
            single * as wildcard.
          schema:
            type: string
            example: '*Corporation'
          in: query
        - style: form
          explode: true
          name: party_id
          description: >-
            Optional parameter used to search by party's ID. Can contain
            a single * as wildcard. It searches through the party_id array 
            for matching party_id.
          schema:
            type: string
            example: did:ishare:NTRNL-12345678
          in: query
        - style: form
          explode: true
          name: certified_only
          description: >-
            Search for parties that play one of the certified roles as defined
            in iSHARE role framework.
          schema:
            type: boolean
            example: true
          in: query
        - style: form
          explode: true
          name: date_time
          description: Search parties with specific adherence date
          schema:
            format: date-time
            type: string
            example: '2023-01-31T00:00:00.000Z'
          in: query
        - style: form
          explode: true
          name: adherenceStatus
          description: >-
            Search for parties with adherence status like "Active",
            "Revoked","Not Active", "Pending"
          schema:
            type: string
            example: Active
          in: query
        - style: form
          explode: true
          name: adherenceStartdate
          description: Search parties with specific adherence start date
          schema:
            format: date-time
            type: string
            example: '2023-01-31T00:00:00.000Z'
          in: query
        - style: form
          explode: true
          name: adherenceEnddate
          description: Search parties with specific adherence end date
          schema:
            format: date-time
            type: string
            example: '2023-01-31T00:00:00.000Z'
          in: query
        - style: form
          explode: true
          name: registarSatelliteID
          description: Search parties by their registrar satellite's iSHARE-ID number
          schema:
            type: string
            example: did:ishare:NTRNL-12345678
          in: query
        - style: form
          explode: true
          name: webSiteUrl
          description: Search a party by their website URL
          schema:
            type: string
            example: https://www.example.com
          in: query
        - style: form
          explode: true
          name: companyEmail
          description: Search a party by their email ID
          schema:
            type: string
            example: John.doe@example.com
          in: query
        - style: form
          explode: true
          name: companyPhone
          description: Search a party by their company phone number
          schema:
            format: int32
            type: integer
          in: query
        - style: form
          explode: true
          name: publiclyPublishable
          description: >-
            Search parties whose general company contact information is allowed
            to be published
          schema:
            type: boolean
            example: true
          in: query
        - style: form
          explode: true
          name: tags
          description: >-
            Search parties who match any of the keywords that they have added in
            their participant information under tags. It is a free text field
            and can contain any value
          schema:
            type: string
            example: mobility
          in: query
        - style: form
          explode: true
          name: framework
          description: >-
            Search parties based on which framework they were onboarded with.
            Currently parties can only be registered with "iSHARE" framework
          schema:
            type: string
            example: iSHARE
          in: query
        - style: form
          explode: true
          name: subjectName
          description: >-
            Search parties based on the subject name of their PKI (x509)
            certificates. Usually to find a party who is requesting tokens
          schema:
            type: string
            example: >-
              CN=Test Service Consumer,organizationIdentifier=NTRNL-10000001,O=Test Service Consumer,C=NL
          in: query
        - style: form
          explode: true
          name: role
          description: >-
            Search parties based on their roles as defined in iSHARE role
            framework. Possible roles are ServiceConsumer, ServiceProvider, 
            EntitledParty, AuthorisationRegistry, IdentityProvider,
            IdentityBroker  and iShareSatellite.
          schema:
            type: string
            example: ServiceConsumer
          in: query
        - style: form
          explode: true
          name: loA
          description: >-
            Search parties based on their level of assurance which is registered
            in the participant list. Possible values are Low/Substantial/High
          schema:
            type: string
            example: Substantial
          in: query
        - style: form
          explode: true
          name: compliancyVerified
          description: >-
            Search parties that have their compliance to framework verified or
            not.
          schema:
            type: boolean
            example: true
          in: query
        - style: form
          explode: true
          name: legalAdherence
          description: >-
            Search parties that have signed the appropriate legal agreements and
            that have been verified during or after onboarding. Parties adhering
            to legal agreements are legally obliged to adhere to terms of use of
            data.
          schema:
            type: boolean
            example: true
          in: query
        - style: form
          explode: true
          name: authorizationRegistryID
          description: >-
            Search parties based on their authorisation registry provider. The
            ID of the authorisation registry must be provided in search
            parameter and this must be listed as authorisation registry in the
            participant record
          schema:
            type: string
            example: did:ishare:NTRNL-12345678
          in: query
        - style: form
          explode: true
          name: authorizationRegistryName
          description: >-
            Search parties based on their authorisation registry provider. The
            name of the authorisation registry must be provided in search
            parameter and this must be listed as authorisation registry in the
            participant record
          schema:
            type: string
            example: Askme anything
          in: query
        - style: form
          explode: true
          name: dataSpaceID
          description: >-
            Search parties based on data-spaces they participate in. The ID of
            the data-space must be provided
          schema:
            type: string
            example: EU.DSP.NLLOGISTICS_DLDS
          in: query
        - style: form
          explode: true
          name: dataSpaceTitle
          description: >-
            Search parties based on data-spaces they participate in. The name of
            the data-space must be provided
          schema:
            type: string
            example: Dutch Mobility Dataspace
          in: query
        - style: form
          explode: true
          name: countriesOfOperation
          description: >-
            Search parties by name of country they list as their country of
            operation
          schema:
            type: string
            example: Belgium
          in: query
        - style: form
          explode: true
          name: sectorIndustry
          description: Search parties by name of sector they list as their sector/industry
          schema:
            type: string
            example: Energy
          in: query
        - style: form
          explode: true
          name: page
          description: >-
            The parties API by default uses pagination. Each page size is fixed
            at 10 parties per page. When search results into more then 10
            parties, the page parameter must be added for next pages
          schema:
            format: int32
            type: integer
            example: 2
          in: query
        - style: form
          explode: true
          name: certificate_subject_name
          description: >-
            Search parties based on the subject name of their PKI (x509)
            certificates. Usually to find a party who is requesting tokens
          schema:
            type: string
            example: >-
              CN=Test Service Consumer,organizationIdentifier=NTRNL-10000001,O=Test Service Consumer,C=NL
          in: query
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartiesResponse'
          description: ''
      deprecated: false
      operationId: /parties
      summary: Lists and searches parties
      description: >-
        Search for participant information from your satellite. Various search
        parameters are supported as shown below. When results are more then 10
        participants, pagination is used in response and each page contains up
        to 10 participants.

        Server response is an iSHARE signed JSON Web Token. Please refer to the
        models 'jwt_header' and 'jwt_payload_party_token' which indicate what
        the decoded response will look like.
  /versions:
    get:
      tags:
        - iSHARE Satellite
      security:
        - BearerAuth: []
        - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionsResponse'
          description: OK
      deprecated: false
      operationId: /versions
      summary: Retrieves active and planned versions of iSHARE
      description: >-
        Retrieves active and planned versions of iSHARE. By default returns
        current state. Server response is an iSHARE signed JSON Web Token.
        Please refer to the models 'jwt_header' and 'jwt_payload_versions_token'
        which indicate what the decoded response will look like. 
  /dataspaces:
    get:
      tags:
        - iSHARE Satellite
      security:
        - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataspacesResponse'
          description: OK
      deprecated: false
      operationId: /dataspaces
      summary: Retrieves list of dataspaces
      description: >-
        Used to obtain a list of dataspaces. 


        Server response is an iSHARE signed JSON Web Token. Please refer to the
        models 'jwt_header' and 'jwt_payload_dataspaces_token' which indicate
        what the decoded response will look like.
  /connect/token:
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - grant_type
                - scope
                - client_id
                - client_assertion_type
                - client_assertion
              type: object
              properties:
                grant_type:
                  description: OAuth 2.0 grant type. MUST contain “client_credentials”
                  type: string
                  example: client_credentials
                scope:
                  description: >-
                    OAuth 2.0 scope. MUST contain iSHARE scope value. Other
                    values allow the Service Consumer to get tokens that do not
                    include all rights the Service Consumer has. According to
                    RFC 6749, scopes are case-sensitive.
                  type: string
                  example: iSHARE
                client_id:
                  description: >-
                    Used in iSHARE for all client identification for
                    OAuth/OpenID Connect. MUST contain a valid party identifier
                    of the Service Consumer
                  type: string
                  example: did:ishare:NTRNL-12345678
                client_assertion_type:
                  description: >-
                    Used in iSHARE for all client identification for
                    OAuth/OpenID Connect. MUST contain
                    “urn:ietf:params:oauth:client-assertion-type:jwt-bearer”
                  type: string
                  example: urn:ietf:params:oauth:client-assertion-type:jwt-bearer
                client_assertion:
                  description: >-
                    Used in iSHARE for all client identification for
                    OAuth/OpenID Connect. MUST contain JWT token conform iSHARE
                    specifications, signed by the client.
                  type: string
                  example: >-
                    eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsIng1YyI6WyJNSUlFZ1RDQ0FtbWdBd0lCQWdJSU45VmlDRGkzQndzd0RRWUpLb1pJaHZjTkFRRUxCUUF3U0RFWk1CY0dBMVVFQXd3UWFWTklRVkpGVkdWemRFTkJYMVJNVXpFTk1Bc0dBMVVFQ3d3RVZHVnpkREVQTUEwR0ExVUVDZ3dHYVZOSVFWSkZNUXN3Q1FZRFZRUUdFd0pPVERBZUZ3MHhPVEF5TVRVeE1UUTJNVFZhRncweU1UQXlNVFF4TVRRMk1UVmFNRUl4RlRBVEJnTlZCQU1NREVGQ1F5QlVjblZqYTJsdVp6RWNNQm9HQTFVRUJSTVRSVlV1UlU5U1NTNU9UREF3TURBd01EQXdNVEVMTUFrR0ExVUVCaE1DVGt3d2dnRWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUJEd0F3Z2dFS0FvSUJBUUMwTzRoVWhEK1ZvT0tWSVpTTk1OVGZ6YzBPMmtZaitaenBRRUFCWkd0UHR5MGtLUEplcDArbzV4c3RvdTFLK1V4dkhmeEVwSHhIR1RkdHFadWMyOExoVTRDZUNnb2VETURUK0NIUzNOb3NpRVNRTXdoL1paZVRjOS9lS0NvNTY5R0NuKzJYdFRpR1NwQlN3TVNXcU5IZ3BBWllLZEhyVC9rRU1JeVRLb2F1dWlLUThjVXA3b3c3bVp6LzlLK3FWM3M5TDAzMFc4SWF3TEpCSksvMmFwQXQ1amgxajQvbUY3ZjBxOHpoemhyQzh2MDFQTGxaZHVUempqQnJlN216K3lpL3ZsWXovZWFwMGVZVGpoeElhdHlWOUZGd2xtaTRGQzFDTmNNdExoOG5zaUpvZTVjQm0xM0xLYlFGdTNHWUg3Nm9lTFp2V3FiUGJwMTFteGxIYS9LZEFnTUJBQUdqZFRCek1Bd0dBMVVkRXdFQi93UUNNQUF3SHdZRFZSMGpCQmd3Rm9BVUZqem5JT25XbE84ZjVhTHh1UHkrNnQ4c040RXdFd1lEVlIwbEJBd3dDZ1lJS3dZQkJRVUhBd0V3SFFZRFZSME9CQllFRkFQSCs4VXJZaVZMWGFLUFJHZmxrQStjdXNRN01BNEdBMVVkRHdFQi93UUVBd0lGb0RBTkJna3Foa2lHOXcwQkFRc0ZBQU9DQWdFQVlsNXRXSDBZdFlTOUp5cXlsWkpXb21BNTVTaEtsbGFCUmN2cm82Q0h4bGxKV0hvMHFDOVpUTWN2Q3l3TXYxNFZKeVFkNmVGWnFjVnRPbHVHclJaQmtsSDlBYW5rb3ZwMkpMYXFjRDc5dDFDeXVYWm5JelRGbC9Ca01zRTZ3bEFKWFkvc2Fybm94ZWllalA0RS9FZi8wZXVJRnZCYUlDQ0YrS2QyV0pZYmJuMFd5MGRINDg0UUpiSHlNdFZmcjQyb0lwVU5WdUxTdTg0eUtZQWVtOUpCdVlUcDNZMEsyaGlFQVcvYk9LRHZ2SGV0VmY1ZnU2NnlmZWtEWDUzajNOS2lGSkNYUzJyS0lab0R1TUZ1eHBTeVZrUzJrYldrMSs1Sm95N3FPU05BTlJGUGxwSGNnekxRWnA4SHJndmhzbWhJdDFWVFZZa3l4Y2Q4cVhBbGh3cVZnT3E1TmdMeGtxdWw5aE5NR2lNN3NxK0g3M1EvRmk4aWY3Z1A4SVZBU3pRR3d1SGcyWjg3aWI2QTJ2b24wZlJKWnEzZkl1YkhveEk2M0FUd2ZjUks4NnkxNzJ4YkZFM1ZVMGR1TjF0STVaMFRDZzBHQUpZdEpwYm52ZXhJdDVsazVGSWs0VGh2UjBMOG1OTHkxRFVhMTFOK0VNeGtxYmZxbFR1ckI4WmczQ1kvUWFTS21YWTVDTVV3V2VFQlhSSGh5ZmtaUTVqUFBVSHJGYW95T1JYOHAxRXJZRGt0QjFLOW80am11RVZwQjMzY3ZnWUJFaUF5VjV6NDQyNkZ1VkNNYkhhRkRWN2lLVzllQmxYb3hlWm80WFg4K2pYeVNMNUdXOFh3TlJUSzVjNHZXMDJRM1ZKeVlWZTV1bWVzdHNLUStMUjhpQXpvVVNyZUsxOCtKa0FqQUpVPSJdfQ.eyJpc3MiOiJFVS5FT1JJLk5MMDAwMDAwMDAxIiwic3ViIjoiRVUuRU9SSS5OTDAwMDAwMDAwMSIsImp0aSI6ImE1MjJjZWZkNGNmNjQyMWE4ZGUzOGJjYjBjMDhlYjliIiwiaWF0IjoxNTU2MDM0NzM0LCJuYmYiOjE1NTYwMzQ3MzQsImV4cCI6MTU1NjAzNDc2NCwiYXVkIjoiRVUuRU9SSS5OTDAwMDAwMDAwMCJ9.SU59EXhAukbDVP0Y8Yb_1-5Za7QCgAtgq_bh9qRKNY0t3P7nodr2b6ue2DqmIZ_bvysC77zX01QCiCCT3vT7iU4ee4HINMP9gsujoNC0L1ONL2twoJeE91hWUke8dBL9m_ipP0x5-XivQAdS9vJTHQu1A_m5VB0O_XD4JGLwrwjD2d-UE4Fhyy4ilKSPKFpqhoAi2qPkmonZki-RaYoPkrq49LW_v8OVKW7yFJvEDIwph0hEcWxl0udyeu3Cy35NWMnLZdu6gp2f4yxOq3FPrufO5bT0aihioI04V8avggzVJdVcrDTK9Q0Hzhs-22VamkncUZqPvRmo_uwypNHFBg
        required: true
      tags:
        - iSHARE Satellite
        - Authorisation Registry
        - Service Provider
        - Identity Provider
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectTokenResponse'
          description: OK
      deprecated: false
      operationId: /connect/token
      summary: Obtains access token
      description: >-
        Used to obtain an OAuth access token from the Satellite. The access
        token must be added under "Authorization" header attribute for secured
        endpoints. Refer to relevant endpoints on proper usage.
  /ep_creation:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EpCreationRequest'
        required: true
      tags:
        - iSHARE Satellite
      security:
        - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EpCreationResponse'
          description: ''
      deprecated: false
      operationId: /ep_creation
      summary: Create Entitled Party
      description: >-
        Used to programatically create an Entitled Party, without providing a
        certificate.


        Both the request body and the http 200 response body contain a signed
        JSON Web Token. Please refer to the models 'jwt_header' and
        'jwt_payload_ep_creation_token' which indicate what the decoded request
        and response look like.
  /service:
    get:
      tags:
        - Service Provider
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/delegation_evidence_header'
        - $ref: '#/components/parameters/service_consumer_id_token_sc'
        - $ref: '#/components/parameters/purpose'
        - $ref: '#/components/parameters/service_headers'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_content'
          description: OK
      operationId: /service
      summary: >-
        Abstract endpoint for Service Provider (parameters apply to other HTTP
        methods as well)
      description: >-
        This is an abstract service (business specific) endpoint to show how any
        Service Provider that adheres to iSHARE MUST apply iSHARE conformant
        OAuth to every iSHARE enabled service.

        Request can make use of any HTTP method and can contain any extra
        headers. For convenience this documentation only defines the GET method.
        Parameters are undefined because they vary for each Service Provider due
        to their business specific logic. Note: Additional headers for security,
        statefulnes, application functionality could be added and is out of
        scope of this specification.
  /delegation:
    post:
      requestBody:
        description: >-
          Delegation Mask that defines of which delegation the delegation
          evidence is requested.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelegationRequestBody'
        required: true
      tags:
        - Authorisation Registry
      security:
        - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DelegationResponse'
          description: ''
      operationId: /delegation
      summary: Obtains delegation evidence
      description: >-
        Used to obtain delegation evidence from an Authorization Registry. The
        response is a signed JSON Web Token. Please refer to the models
        ‘jwt_header’ and ‘jwt_payload_delegation_evidence_token’ which indicate what
        the decoded response will look like. Please refer to the iSHARE language
        of delegation in order to understand the decoded response data model.
  /connect/userinfo:
    get:
      tags:
        - Identity Provider
      security:
        - BearerAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserinfoResponse'
          description: OK
      deprecated: false
      operationId: /connect/userinfo
      summary: Obtaining attributes of a Human Service Consumer
      description: >-
        OpenID Connect endpoint for obtaining attributes of a Human Service
        Consumer conform scope defined in access token.


        Server response is an iSHARE signed JSON Web Token. Please refer to the
        models 'jwt_header' and 'jwt_payload_userinfo_token' which indicate what
        the decoded response will look like.
  /connect/authorize:
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - response_type
                - scope
                - client_id
                - request
              type: object
              properties:
                response_type:
                  description: >-
                    OAuth 2.0 Response Type. For iSHARE using the Authorization 
                    Code Flow, with value ‘code’ is REQUIRED. MUST be identical 
                    to the response_type value in the request JWT.
                  type: string
                  example: response_type
                scope:
                  description: >-
                    OAuth 2.0 scope for OpenID Connect 1.0. MUST contain the 
                    ‘openid’ scope value and one or more scopes identifying the 
                    attributes from the Human Service Consumer that are 
                    requested. Supported scopes under iSHARE are described on 
                    the Technical Agreements page, in the Human2Machine 
                    interaction section. MUST be identical to the scope value 
                    in the request JWT. Scope values determine the permissions 
                    to be asked to the user.
                  type: string
                  example: scope
                client_id:
                  description: >-
                    OpenID Connect 1.0 client ID. Used in iSHARE for all client 
                    identification for OAuth/OpenID Connect. MUST contain a 
                    valid iSHARE identifier. MUST be identical to the client_id 
                    value in the request JWT.
                  type: string
                  example: client_id
                request:
                  description: >-
                    OpenID Connect 1.0 signed JWT containing all request 
                    parameters. See also Generic iSHARE JWT specifications for 
                    a.o. basic content and signing requirements. Additionally 
                    JWT MUST be encrypted using JWE as a user can access this 
                    JWT itself and decode the data contained therein.
                  type: string
                  example: request
        required: true
      tags:
        - Identity Provider
      parameters:
        - $ref: '#/components/parameters/content-type_form'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/openid-authorize'
          description: OK
      deprecated: false
      operationId: /authorize
      summary: Redirect human service consumer for authentication
      description: >-
        OpenID Connect endpoint for redirecting Human Service Consumer for 
        authentication by the Identity Provider. Server response is directed  to
        the /service_provider/openid_connect1.0/return endpoint.
  /login:
    post:
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
                - username
                - password
              type: object
              properties:
                username:
                  description: >-
                    Human user’s login name. Could be email, mobile phone 
                    number, nickname etc.
                  type: string
                  example: username
                password:
                  description: Human user’s password.
                  example: password
        required: true
      tags:
        - Identity Provider
      parameters:
        - $ref: '#/components/parameters/content-type_form'
      responses:
        '200':
          description: >-
            Login was successful and single page application will be responsible
            for redirection to returnUrl parameter.
        '302':
          description: >-
            Login was successful and back-end application redirects user to
            returnUrl parameter by itself.
      deprecated: false
      operationId: /login
      summary: Allow Conformance Test Tool (CTT) to login
      description: >-
        The /login endpoint is required in order to pass Conformance Test Tool
        (CTT). The endpoint allows user to authenticate himself using username
        and password. After successful authentication if user grants permit to
        requested scopes redirection to Service Provider should happen.
  /return:
    get:
      tags:
        - Service Provider
      operationId: /return
      summary: Receiving the redirect from the Identity Provider
      description: >-
        OpenID Connect 1.0 endpoint for receiving the redirect from the Identity
        Provider or Identity Broker after successful human authentication.
      parameters:
        - name: code
          in: query
          description: >-
            Authorization code which is going to be used to request for an
            access token. The authorization code MUST expire shortly after it is
            issued to mitigate the risk of leaks. A maximum authorization code
            lifetime of 10 minutes is RECOMMENDED. The client MUST NOT use the
            authorization code more than once.
          required: true
          deprecated: false
          schema:
            type: string
        - name: state
          in: query
          description: >-
            OpenID Connect 1.0 opaque value used to maintain state between the
            request and the callback. The Service Provider needs to verify if
            initially sent value towards authorize endpoint is equal to this
            returned value.
          required: true
          deprecated: false
          schema:
            type: string
      responses:
        '200':
          description: >-
            On successful user redirect to the Service Provider, the Service
            Provider needs to verify state parameter and make use of code
            parameter in order to retrieve the access token. There are no
            specific response requirements for this endpoint.
components:
  schemas:
    SchemeRole:
      title: SchemeRole
      type: object
      properties:
        role:
          nullable: true
          description: >-
            Possible roles are ServiceConsumer, ServiceProvider,  EntitledParty,
            AuthorisationRegistry, IdentityProvider, IdentityBroker  and
            iShareSatellite.
          type: string
    Adherence:
      title: Adherence
      description: >-
        Adherence details of a party. Object which contains status and validity
        timestamps of the party.
      required:
        - status
        - start_date
        - end_date
      type: object
      properties:
        status:
          description: >-
            Status of the party. Available values are Active, Pending, NotActive
            and Revoked.
          type: string
          example: Active
        start_date:
          format: date-time
          description: >-
            UTC timestamp which states since when adherence status has
            established.
          type: string
          example: '2023-01-31T00:00:00.000Z'
        end_date:
          format: date-time
          description: >-
            UTC timestamp which states till when adherence status has
            established.
          type: string
          example: '2024-02-01T00:00:00.000Z'
    FeatureObject:
      title: FeatureObject
      required:
        - id
        - feature
        - description
        - url
      type: object
      properties:
        id:
          description: Unique identifier of the feature.
          type: string
          example: A51D413F-B3CC-477D-96C4-E37A9003BFE3
        feature:
          description: Friendly name of the feature.
          type: string
          example: capabilities
        description:
          description: Short description about the feature.
          type: string
          example: Retrieves iSHARE capabilities
        url:
          description: URL to the feature.
          type: string
          example: https://www.example.com/capabilities
        token_endpoint:
          nullable: true
          description: >-
            URL where access token for the feature could be retrieved. This is
            optional because if feature is access token, it is not needed to
            mention it twice.
          type: string
          example: https://www.example.com/connect/token
    SupportedFeature:
      title: SupportedFeature
      type: object
      properties:
        public:
          nullable: true
          description: Contains supported public features.
          type: array
          items:
            $ref: '#/components/schemas/FeatureObject'
        restricted:
          nullable: true
          description: >-
            Contains supported restricted features. The structure and parameters
            are exactly the same as defined in public parameter above. It should
            only be shown to the parties which provided a valid access token. If
            an access token was not provided or restricted endpoints does not
            exist, this value can be not returned, empty or null.
          type: array
          items:
            $ref: '#/components/schemas/FeatureObject'
    jwt_header:
      title: jwt_header
      required:
        - alg
        - typ
        - x5c
      type: object
      properties:
        alg:
          description: MUST be "RS256" algorithm
          type: string
          example: RS256
        typ:
          description: Type must be "JWT"
          type: string
          example: JWT
        x5c:
          description: base64 encoded DER certificate chain value
          type: array
          items:
            type: string
    jwt_payload_party_token:
      title: jwt_payload_party_token
      required:
        - iss
        - sub
        - aud
        - jti
        - exp
        - iat
        - party_info
      type: object
      properties:
        iss:
          description: The id of the issuer of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        sub:
          description: The id of the subject of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        aud:
          description: The id of the audience of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        jti:
          description: JTI value of JWT.
          type: string
          example: 378a47c4-2822-4ca5-a49a-7e5a1cc7ea59
        exp:
          format: int32
          description: UNIX timestamp in seconds until when this JWT is valid.
          type: integer
          example: 1504684475
        iat:
          format: int32
          description: UNIX timestamp in seconds when this JWT was issued.
          type: integer
          example: 1504683475
        party_info:
          allOf:
            - $ref: '#/components/schemas/Party'
            - {}
    Party:
      title: Party
      required:
        - party_id
        - party_name
        - registrar_id
        - adherence
        - agreements
        - roles
      type: object
      properties:
        party_id:
          description: Array of registered party ids of the party.
          type: array
          items:
            type: string
          example: 
            - "did:ishare:NTRNL-12345678"
            - "did:elsi:LEIXG-724500AZSGBRY55MNS59"
            - "did:web:example.com"
            - "CoC:123456789"
        party_name:
          description: Name of the party.
          type: string
          example: Example Corporation
        capability_url:
          description: Capabilities endpoint of the party.
          pattern: ''
          type: string
          example: https://www.example.com/capabilities
        registrar_id:
          description: >-
            Identifier of the party who registered the participant identified by
            the party_id attribute above
          type: string
          example: did:ishare:NTRNL-12345678
        adherence:
          allOf:
            - $ref: '#/components/schemas/Adherence'
            - {}
        additional_info:
          allOf:
            - $ref: '#/components/schemas/AdditionalInfo'
            - {}
        agreements:
          description: >-
            Object which contains details about contracts including data space
            contracts that party has agreed and signed to.
          type: array
          items:
            $ref: '#/components/schemas/Agreement'
          example:
            - type: TermsOfUse
              title: TOU
              status: Accepted
              sign_date: '2023-01-31T00:00:00.000Z'
              expiry_date: '2024-01-31T00:00:00.000Z'
              hash_file: 614331b0003219f2d2d123b0cd6105fb
              framework: iSHARE
              dataspace_id: ''
              dataspace_title: ''
              complaiancy_verified: 'yes'
            - type: AccessionAgreement
              title: AA
              status: Accepted
              sign_date: '2023-01-31T00:00:00.000Z'
              expiry_date: '2024-01-31T00:00:00.000Z'
              hash_file: f50a036402b3b243910ce572930be9f5
              framework: iSHARE
              dataspace_id: ''
              dataspace_title: ''
              complaiancy_verified: 'yes'
        certificates:
          description: >-
            Object which contains the details of the PKI/x509 certificates of
            the party. Either certificates or SPOR must be present.
          type: array
          items:
            $ref: '#/components/schemas/Certificate'
          example:
            - subject_name: >-
                CN=Test Service Consumer,organizationIdentifier=NTRNL-10000001,O=Test Service Consumer,C=NL
              certificate_type: Pkio
              enabled_from: '2023-01-31T00:00:00.000Z'
              x5c: ''
              x5t#s256: ''
        spor:
          allOf:
            - $ref: '#/components/schemas/Spor'
            - {}
        roles:
          description: >-
            Object which contains details about the iSHARE roles of the party.
            The details include the level of assurance as well as compliance
            status for each role.
          type: array
          items:
            $ref: '#/components/schemas/Role_definition'
          example:
            - role: ServiceConsumer
              start_date: '2023-01-31T00:00:00.000Z'
              end_date: '2024-01-31T00:00:00.000Z'
              loa: High
              compliancy_verified: true
              legal_adherence: true
        auth_registries:
          description: >-
            Object which contains details about the authorisation registers that
            the party uses.
          type: array
          items:
            $ref: '#/components/schemas/auth_registry'
          example:
            - name: iSHARE Test Authorization Registry
              id: did:ishare:NTRNL-12345678
              url: http://ar.isharetest.net/
              dataspace_id: ContaktDS1
              dataspace_name: ContaktDS1
    auth_registry:
      title: auth_registry
      description: >-
        Object which contains details about the authorisation registers that the
        party uses.
      required:
        - name
        - id
        - url
      type: object
      properties:
        name:
          description: The name of the authorisation registry provider
          type: string
          example: iSHARE Test Authorization Registry
        id:
          description: The Id of the authorisation registry provider
          type: string
          example: did:ishare:NTRNL-12345678
        url:
          description: >-
            The URL pointer specific to the party where authorisations can be
            queried/checked from
          type: string
          example: http://ar.isharetest.net/
        dataspace_id:
          description: >-
            The id of the data space where the party uses this authorisation
            registry provider
          type: string
          example: EU.DSP.NL.TESTDATASPACE
        dataspace_name:
          description: The name of the data space corresponding to the data space id
          type: string
          example: TESTDATASPACE
    PartiesInfo:
      title: PartiesInfo
      type: object
      properties:
        count:
          format: int32
          description: Count of parties returned based on search
          type: integer
        data:
          description: Object containing parties information
          type: array
          items:
            $ref: '#/components/schemas/Party'
    SupportedVersion:
      title: SupportedVersion
      description: Contains information about supported version endpoints for each version.
      type: object
      properties:
        version:
          nullable: true
          description: Version of the system which is under support.
          type: string
        supported_features:
          nullable: true
          description: Contins a list of supported features for different access levels.
          type: array
          items:
            $ref: '#/components/schemas/SupportedFeature'
    CertificateAuthority:
      title: CertificateAuthority
      type: object
      properties:
        subject:
          nullable: true
          description: Certificate authority subject name.
          type: string
        certificate_fingerprint:
          nullable: true
          description: SHA256 fingerprint of the certificate.
          type: string
        validity:
          nullable: true
          description: Validity of the certificate. Available values are valid or invalid.
          type: string
        status:
          nullable: true
          description: >-
            Status of the certificate. Available values are granted, withdrawn,
            supervisionceased and undersupervision.
          type: string
    Version:
      title: Version
      type: object
      properties:
        version_name:
          nullable: true
          description: Version name. Expected format should be {major}.{minor}.{patch}.
          type: string
          example: 3.0.0
        valid_from:
          format: date-time
          description: >-
            Timestamp (ISO 8601)/RFC3339. UTC timestamp which states since when
            version is valid.
          type: string
          example: '2030-07-04T08:00:00Z'
        valid_to:
          nullable: true
          format: date-time
          description: >-
            Timestamp (ISO 8601)/RFC3339. UTC timestamp which states till when
            version is valid.
          type: string
          example: '2050-01-04T08:00:00Z'
        version_status:
          allOf:
            - $ref: '#/components/schemas/VersionStatus'
            - {}
    jwt_payload_trusted_list_token:
      title: jwt_payload_trusted_list_token
      required:
        - iss
        - sub
        - aud
        - jti
        - exp
        - iat
        - trusted_list
      type: object
      properties:
        iss:
          description: The id of the issuer of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        sub:
          description: The id of the subject of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        aud:
          description: The id of the audience of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        jti:
          description: JTI value of the JWT.
          type: string
          example: 378a47c4-2822-4ca5-a49a-7e5a1cc7ea59
        exp:
          format: int32
          description: UNIX timestamp in seconds specifying until when this JWT is valid.
          type: integer
          example: 1504684475
        iat:
          format: int32
          description: UNIX timestamp in seconds specifying when this JWT was issued.
          type: integer
          example: 1504683475
        trusted_list:
          description: Contains collection of trusted certificate authorities.
          type: array
          items:
            $ref: '#/components/schemas/CertificateAuthority'
    jwt_payload_parties_token:
      title: jwt_payload_parties_token
      required:
        - iss
        - sub
        - aud
        - jti
        - exp
        - iat
        - parties_info
      type: object
      properties:
        iss:
          description: The id of the issuer of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        sub:
          description: The id of the subject of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        aud:
          description: The id of the audience of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        jti:
          description: jti value of JWT.
          type: string
          example: 378a47c4-2822-4ca5-a49a-7e5a1cc7ea59
        exp:
          format: int32
          description: UNIX timestamp in seconds until when this JWT is valid.
          type: integer
          example: 1504684475
        iat:
          format: int32
          description: UNIX timestamp in seconds when this JWT was issued.
          type: integer
          example: 1504683475
        parties_info:
          allOf:
            - $ref: '#/components/schemas/PartiesInfo'
            - {}
    PartyResponse:
      title: PartyResponse
      type: object
      properties:
        party_token:
          type: string
          format: application/jwt
          example: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsIng1YyI6WyJNSUlHa0RDQ0JIaWdBd0lCQWdJVUpYckNOdm56eTV5alU5V0ErTmprQzNPekdpSXdEUVlKS29aSWh2Y05BUUVMQlFBd1hURWVNQndHQTFVRUF3d1ZaVWxFUVZObFUwVkJURTlKUkY5SmMzTkRRVWMwTVJrd0Z3WURWUVJoRXhCT1ZGSk9UQzFwVTBoQlVrVlVSVk5VTVJNd0VRWURWUVFLRXdwcFUwaEJVa1ZVWlhOME1Rc3dDUVlEVlFRR0V3SllXREFlRncweU5ERXhNRFl4TkRNeU1URmFGdzB5TnpFeE1EWXhORE15TVRCYU1HNHhDekFKQmdOVkJBWVRBazVNTVNJd0lBWURWUVFLREJsVVpYTjBJRkJoY25ScFkybHdZVzUwSUZKbFoybHpkSEo1TVNJd0lBWURWUVFEREJsVVpYTjBJRkJoY25ScFkybHdZVzUwSUZKbFoybHpkSEo1TVJjd0ZRWURWUVJoREE1T1ZGSk9UQzB4TURBd01EQXdNRENDQVNJd0RRWUpLb1pJaHZjTkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFMVHNBRWVBVWs5NUI2bHZkZ1hPcjRoekUxTjJRL2E1UmUwcmsvZEJiRmZCTVBEMWN0ekVMeHJ4a0hLSEFKWjBNZmxjOWdPMitYMjdIVkRoUHF3SkZ1ZWg0VTlpend5dnF6czFWRys5U1Fzbnd6V1p5Q1RQNDBsWGx2cUtHMWtyVWlmRjJsRjNMSmVRRml3UmRSd2txZzRPM2dSU2RvTmdFU0hjOVJReVZTMHNPQUhLVlh4em1rS0NON2FTcGE3bVBVQ290SWVSRmIydFV2R1hiNWxOUUJoejdPd01jQW1NVjU4N3V6VWxuZFZLc0EwbU40UGtySWZQWjNWVmVZOHF1clByTHNPWFBYbVJyRjArWFZmcHoyeGJDMDc2M1M1bHI2VWlrNmJhWE9kQ2NWczd0MWIvNzhaTWV0NEMzVzFuS0dFYmVtcGxidjBoYXpMdUdlbExYV2tDQXdFQUFhT0NBalV3Z2dJeE1BNEdBMVVkRHdFQi93UUVBd0lHUURBTUJnTlZIUk1CQWY4RUFqQUFNQjhHQTFVZEl3UVlNQmFBRkxNYVQwSkE2ZGg0bld2Ly9DU3dFTEUwUFBDSk1GY0dDQ3NHQVFVRkJ3RUJCRXN3U1RCSEJnZ3JCZ0VGQlFjd0FZWTdhSFIwY0hNNkx5OWpZVGN1YVhOb1lYSmxkR1Z6ZEM1dVpYUTZPRFEwTWk5bGFtSmpZUzl3ZFdKc2FXTjNaV0l2YzNSaGRIVnpMMjlqYzNBd0VBWURWUjBnQkFrd0J6QUZCZ05WSFNBd0h3WURWUjBsQkJnd0ZnWUlLd1lCQlFVSEF3UUdDaXNHQVFRQmdqY0tBd3d3V3dZSUt3WUJCUVVIQVFNRVR6Qk5NQk1HQmdRQWprWUJCakFKQmdjRUFJNUdBUVlDTURZR0NDc0dBUVVGQndFRERDcFVhR2x6SUdseklIUmxjM1FnWlhObFlXd2dZMlZ5ZEdsbWFXTmhkR1VnWm05eUlIUmxjM1JwYm1jd0hnWUZaNEVNQXdFRUZUQVRFd05PVkZJVEFrNU1EQWd4TURBd01EQXdNRENCeHdZRFZSMGZCSUcvTUlHOE1JRzVvSUcyb0lHemhvR3dhSFIwY0hNNkx5OWpZVGN1YVhOb1lYSmxkR1Z6ZEM1dVpYUTZPRFEwTWk5bGFtSmpZUzl3ZFdKc2FXTjNaV0l2ZDJWaVpHbHpkQzlqWlhKMFpHbHpkRDlqYldROVkzSnNKbWx6YzNWbGNqMURUaVV6UkdWSlJFRlRaVk5GUVV4UFNVUmZTWE56UTBGSE5DVXlRMjl5WjJGdWFYcGhkR2x2Ymtsa1pXNTBhV1pwWlhJbE0wUk9WRkpPVEMxcFUwaEJVa1ZVUlZOVUpUSkRUeVV6UkdsVFNFRlNSVlJsYzNRbE1rTkRKVE5FV0Znd0hRWURWUjBPQkJZRUZGUDZERGMvK2Qya2ZJcm1uSkF1VDc0ODEzY2JNQTBHQ1NxR1NJYjNEUUVCQ3dVQUE0SUNBUUJIcDVXWGk4Vk5vRDBNYzhicnNmS213dXVRbjVhUEdQWWgrejVQY1FXelI0MEh2TzFGZTl2b3laTlp1Vk5xcENFSmNJMDRPZUJlWm9uL2x6WW9URkdTTENTUHBaeTkyaHFmaGE0SnJMa0p2RjAwaTdvSU81SFNjay9KUXhqdWFHdW1xMHVRMDJhQTZtRjNXYjlaV2tyaElvWFJVcFNpZ0c0a01Kc0MyclZkZlhpejZVUGRqdktLNWszYThCSXpmZkc3MGdKRFBqMCtzSXpjcHhacmUrTVBFSW56QkRtUWdrYmtsL1JYNFJEaG5TMWovNEI2VHNoYjJSZW1BM3E2YkFZb045SWhLbGhGdU1kOXovTUlwbkRwU3dIaElyaG5tUlpVLzRDQkVwdGF0NE1VRXRScWkyUUU1SDhQRU1MbFQvNTZwYW5uaW15RnlRTlNJeGJUcHVjSlEzeUkzUElUb0xLZ3pOY2dUVGlpaGFla3R2dHoydWorVWtkbjAwM2ZhekYzTlF2VUU3Y3g5RjdUV0JEbWs0aEdkQS9Qb2ZWQUFUeXAwVHU3a1dMZ3ZoblNNVEc4eWxpZG1ZY3FSVE1GaVNpWGhid0l1QnU4NXl5QWVXSkpvcGpPOUlBVUNxZ3FtTlNCS05WbWhFekViazhtMW9yYkRVZ2grWkFHU2FqZyt3U0FjMWduT2RqMWlKay81TDFDTHlWNmlVYlMvejY1Z2kzN3dTeW1hc2wvcE9nOUpCeGJGU3dpUER1VTY1NGh2WDFpYWpDL0gyS3JER1RXaTVMaGJ6RFRjd0JUbWhjcTZHOVpOeG8rOVlvTmxkdWVsWHAwd1ZJRzJaOU9FZ1kvcUZ2bE5xL1R6RzBSVnVvZ3Ezd2dSbU5sZ3hQU3YyQjlUYTNFREdUbGs0TlZtQT09IiwiTUlJRjJqQ0NBOEtnQXdJQkFnSVVQRzMrVEFueFZPQmNlOU5hUHQ5cFRBZ201UjR3RFFZSktvWklodmNOQVFFTEJRQXdRakVlTUJ3R0ExVUVBd3dWWlVsRVFWTmxVMFZCVEU5SlJGOVRkV0pEUVVjek1STXdFUVlEVlFRS0V3cHBVMGhCVWtWVVpYTjBNUXN3Q1FZRFZRUUdFd0pZV0RBZUZ3MHlNekE0TWpVd09UQXhNekphRncwME9EQTRNalV3T1RBd01EVmFNRjB4SGpBY0JnTlZCQU1NRldWSlJFRlRaVk5GUVV4UFNVUmZTWE56UTBGSE5ERVpNQmNHQTFVRVlSTVFUbFJTVGt3dGFWTklRVkpGVkVWVFZERVRNQkVHQTFVRUNoTUthVk5JUVZKRlZHVnpkREVMTUFrR0ExVUVCaE1DV0Znd2dnSWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUNEd0F3Z2dJS0FvSUNBUURhblVnTTEvUFF5WE5UWCtVT0xHclpqUzhIYVRXUi9QNHhEOFNNQ1J4T1hIS3pITFFxRVFPdUhEL3crcng5L2JFd3pINHdWZkowbTYvcjU2S09nMHdMVWxWd095aWtPWEdvSVREMnUrVWk5dDI0dFlJa3g4empMRzdWSFZjdzRkWE90OTJzdktZMUx5YnZscHJvV3pUSGxSd29JTzFZUTRoTytyeWJzdy9LRURFWFVia293amxIQVBjd25zT1c2NDM2N0VOK2V6VDFzUzhkekZJeG1HOHFDMkxyTTJzWEpXcXE1dkplRS84NlRmWjJOTU8rQ1V4a2pqN3VQZ2JXMlYvTU9VaFl5QXRHQWp6ZC9Ld09yTE1STVlhWE9JajYxbThSNzFuaC9MVjluOGRuajB3VFFPTlRIaHVNN21kWlF4aHFPZGtMMmNrU3JCV2kzYXRFVlQxT2hCUlg0Rm1taElobVNXdUN0Z3lLaURDSW90eUdBc1gybzY4MTdmZWU0UmR0d2Z3OVE0b04zTkFodG9kNjBpT0FXQXBWdCtCVDV0dmRnR09ZV1BjYk1SNXBHemJwMzhkR1V5dXdZWlY0TEFuSUdTbTV5YXVjTkUyRTJ4clFDYkVlWm00UlBzeDVKbGVXemlways0MmQ3dnF2V0Q4OElRY1ErYlpNMlg0ckpCWk5zMTY2Q2x4K202SG1LeEtBTGViVXRqc3pzZ3lIOGNxMTBkK2s0QW84b0NhT1lqdjJJYUViTWQrZlYvVWY4a1BrelR0S2x0dGRxaWl4b0lxeWNYTUVnQmFTZ2t1YjdYb1E2SzI2dFJQSjB3NVFrdXVoM01LdEdFV2ZXN0VFR21wbkNxak92Ni9yQU1KaU1XeWgxSWdMZ05CVVBQN3phVlBwREF0Qzg4T1NKUUlEQVFBQm80R3NNSUdwTUJJR0ExVWRFd0VCL3dRSU1BWUJBZjhDQVFFd0h3WURWUjBqQkJnd0ZvQVU0dWJYMHA2RFZqTjlES3RPV1dNWUFzK0h4ZFF3R0FZRFZSMGdCQkV3RHpBRkJnTlZIU0F3QmdZRVZSMGdBREFwQmdOVkhTVUVJakFnQmdnckJnRUZCUWNEQWdZSUt3WUJCUVVIQXdRR0Npc0dBUVFCZ2pjS0F3d3dIUVlEVlIwT0JCWUVGTE1hVDBKQTZkaDRuV3YvL0NTd0VMRTBQUENKTUE0R0ExVWREd0VCL3dRRUF3SUJCakFOQmdrcWhraUc5dzBCQVFzRkFBT0NBZ0VBWnY1R3VreDBQRXZWUkVJdDhNVGFQZkNINGF3eWlpWXlpMTdoNlI1TExrMXJlcndRc1NTU0hmVnFmdGR3UkYwb2NMcDJQWEpoZTA3NXFWNDA2QzA0Q2phbU5rM2V6OVppTkhDTmpQdGZpZDZvT3hxejFYazhYUGpOWUVsYkFGbVA3ZUtsLzQ0MXZaaEd1ay9SaFhHTnhRYnRvMFExNmc4SVJjR0R2V2dOaHRydEIxRzJ4U210QjFTMnVVcFNhaVpWTk9ya2R6VGhpRUpzZVVSQm9YeFVYSXFwTHlQVFJsNk1NZ1ZhTEdSWVJjM3ZZaWo0QjdNMmhCTjcvY2puR0xzTVZ0Z2JPdjZDVjIxZzJTWG93YmdPcXpCeUg1MVVUUjZPYkhpR2owa1NDQUxHMTRJUVBrelFQaVNwanUrKzlNMmpBalBNM280MjFaT1VETVAyNDZDc3FQWHJUQWJQWEpWVVIvZ2k0dTUza216QzIxMGp2VnE5aEh3ZWx4UU9UUEZobE02RTFDaDRKYjRQUVJMS0RQRmwrNU5XNEZ5MkpBRGp5dXB5VkhuY2RMRXVQeTBQZ0NMMllvMTQ3SFNwUGo0dTdqYzFSbUhVN05PMTJFVjJaQ01mRmxSd2RHdjZpZjhxTzdzLzZscFpKanBQdExFT2JBNXRENGFoYythUE5BaTlXQ2swcGVSbTFLRTVWR0RXS0ZOU05BaUxKTnpQN20yUTZ5OGZPeTM4Y05nRkJoR09GL0tnRUlzVDEwVis1SzVvK3lsVlZ0UFZlUlJFTkV2S085RUxremUwSUhnc1RCLzZjd09pajRweE05SnZhdWowNkdnbGhJaGlJQTZxMGlEVXFCMU1VUjBIemlZOUJzbldZOWtSOGh3VjNPVytuc216dFF3R1ZFdzJralU9IiwiTUlJRmpqQ0NBM2FnQXdJQkFnSVVGajkvM2pHT1JodElwWjk4T0xSdFJIczBBWXN3RFFZSktvWklodmNOQVFFTEJRQXdRVEVkTUJzR0ExVUVBd3dVWlVsRVFWTmxVMFZCVEU5SlJGOVNiMjkwUnpJeEV6QVJCZ05WQkFvVENtbFRTRUZTUlZSbGMzUXhDekFKQmdOVkJBWVRBbGhZTUI0WERUSXpNRGd5TlRBNU1EQTBORm9YRFRRNE1EZ3lOVEE1TURBd05Wb3dRakVlTUJ3R0ExVUVBd3dWWlVsRVFWTmxVMFZCVEU5SlJGOVRkV0pEUVVjek1STXdFUVlEVlFRS0V3cHBVMGhCVWtWVVpYTjBNUXN3Q1FZRFZRUUdFd0pZV0RDQ0FpSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnSVBBRENDQWdvQ2dnSUJBTDduemt5b0ZYV2cxZ2hkRzZmbnV6dXZBZE1Xc20vSSttWDNEYnozSS9LeXFMZFd0N1hHM09XVlNuaG9zQUQyVzJTWG5sR1hxeHllMGhQdEVna1FJZGVsN0ZuRm9zV1dyc0VPcmF0Z1hsbk00TldwWURLTVdFVllybzdoekhnQ1oxMjZaUFFVTGxzNTJOY3ZwUk04UzNkWmsrWEsxa2YzVmVTMEoyaFVTRkVBWkhMeVhDWGtoVG5VSTdxbzF1cjFUbURXWXNOUXd4REdPdTdDUXlaWWRLSXdLcUk5ZUdzUkxnTTZQUWxnM3ZaQ3JvcE9vZE03bG9UdWlyQ2wzVUt3NEhyR2syY09pQWY0SWQvL2VhVkNhZndraktzSlRRdUFhaHVSejRxTXNIWUEza0RReiswK2hnblI3NHIraUxyKzhscjA0NGdsbmFXSVd2ckVHY2lSUitQZWN0ZnJMT1FRSVc3aGExM2R6V296a1QwYWduVDFMay9DR3JnTlhWcWhvc0dDMHJ1QVFQSTZEY1BOeTJJTk05Smd0Q21Cc1NqTU0xODVGSUJYNEN5MTdtNzNoOXJLalhaTXhiNlR4WDdDSVp5ZXNnQVMwYkJSYjZ4SXBLc1pybHJqRWF6c2pDMlZIUlJXT01KV1lxY1hMRDVaTnpHTVpVcjZUdDJ5Q1VBdGFtZWNEQVRLTjYvR2JzeGUwdEFCTjBwazByeDVpYys0VFhkQnJvTjlPQVpjaEg0dEpDc09DS29uQ3pBcFB4VlRoRE5NeHNvb3lGcTlEbWdYaHlFVU9Pb2VTK0ZyNEZnSCtqU0FObS9sMTc4Smg5ZXBmWFE5Z0UvNmFxUHhZak5TQmdTNjBTMUVWcUNweHcyclQxbVVZZUdmd2liVm01M2l4R3B0UjhrdGU3MG5BZ01CQUFHamZUQjdNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdId1lEVlIwakJCZ3dGb0FVMkx1Yk5TMWJQKy9oYTh2TURNK2lMcnBwZW93d0dBWURWUjBnQkJFd0R6QUZCZ05WSFNBd0JnWUVWUjBnQURBZEJnTlZIUTRFRmdRVTR1YlgwcDZEVmpOOURLdE9XV01ZQXMrSHhkUXdEZ1lEVlIwUEFRSC9CQVFEQWdFR01BMEdDU3FHU0liM0RRRUJDd1VBQTRJQ0FRQjhqcVlVdzdUditXNFpIMDZQcmFGNnpmZEN4VDAzRGhSQ2h3NFovUW0wWFZTMmdSeVJ3Y01wdFFGRVJoUE5PQTIyMXU5THFveloxYUszQjM1d2tjR0QvZEZKZ0pDSkI5NlNNdHRRbDJIcC9FaVF6OVBGRjAyZEJTcnVYaElhcmFQYk0rTklHZG15TjJaeXdHR1hJMWFVN0pEM1hHMjlTaDJBQWRPa3Y4ZEk2Z0VnenQvREhTSUliYWtiYUxkRUljN1dCOTVHVUhjSG5OajU4VHpUU3lWZkJtdGIzdkJLOUpHMElvNk5BUFdRWXgyVlA4K2ZJeWxqYTJkMTI4aGdoMGRzRHJYRkFNKzlBWDhoYWU1dnZ4Vmk4VFdzL3oyaW5nK2sraW1tdFNOZnp6S01pTzdyNXdKQWt5and0VUJsQlN0S0lBNlplcjIycG1TVFpaZXVjSGRFVGhhYmNXUWlkVlptTVAzSWY2aXg1VWV5WDhWNk9BdzBnc0kzSVViOTFRNzZkNHNMV2J6b0dOT05BWUZDMUl5ejB4V2o0N1pkNlA3WjJHZmgxVmlJYk14VmlGRGxObWJFWmZscEVTODdLL3loQlVRL3RuQ05HUW9TZHRzdXl1V2czTmZXYnlKb05aemxVOTZKV3hjcVNhWGt6c2U5ajh3YWhheUtOTTZTV0tTWTFaMDVoOEpTY09DbUZCNUY4VjNiZDVuUC91S2phN0g4TzRHT0FBUE0zT3RHK2VxMzd4Vy94TjBvQXNqYnZ0NG9qblViSnMya2lBeEVkd1h4MEs3bWNQZVM3eldtVnQ4aDRSZGNEbS9QR1REYTltOE9xaFF1Y2s4MFFudXhJVVdWcjdHV2FkaDFMeS90bDArYnZta2NuTzJ5YlJKK2dicVJFSERUZTBzeHN3PT0iLCJNSUlGY3pDQ0ExdWdBd0lCQWdJVUN2ZlN2UWVyakZEbU0yTHZtam9URE9JbkxBd3dEUVlKS29aSWh2Y05BUUVMQlFBd1FURWRNQnNHQTFVRUF3d1VaVWxFUVZObFUwVkJURTlKUkY5U2IyOTBSekl4RXpBUkJnTlZCQW9UQ21sVFNFRlNSVlJsYzNReEN6QUpCZ05WQkFZVEFsaFlNQjRYRFRJek1EZ3lOVEE1TURBd05sb1hEVFE0TURneU5UQTVNREF3TlZvd1FURWRNQnNHQTFVRUF3d1VaVWxFUVZObFUwVkJURTlKUkY5U2IyOTBSekl4RXpBUkJnTlZCQW9UQ21sVFNFRlNSVlJsYzNReEN6QUpCZ05WQkFZVEFsaFlNSUlDSWpBTkJna3Foa2lHOXcwQkFRRUZBQU9DQWc4QU1JSUNDZ0tDQWdFQXhWTUtJOVJNaG5PU0EyTG9yZ0VDM1lETmQyaXRuNzJMT2RmUlJVdTQ1Zkc3MEllditFNGtScnpKMWsyM1dYSDVzSFRiY3NscEVUZUFabmowL3hLQllkRUx1d2U2SFg4a0l3ZDFzNldHbFpjMGw3a2kxZm1qNEhxU3N0R0ovQktHajFhNzIzNld3UEpFV0VIcWZ4OVFNRWV1SktsVVNWRkZ5RTRqTXNmWXA4N2lmSXB1d0U4b0xPdzR5a0RET1A1MlRkMDZ2SENJWXJxREJydnhGZEF1RW5GeE54bFBYUkU0Z0xzeWdnNjJIT3hPdUdtaFdmc3k2VGNjSXA1WElPZGoyQ3plb1hKODJtNS9pbUJQSnZrZWZucmpFUVh6aVNFMm1pMklCRHRHUC9Bd0ZXSTdXcHNFeURYV0ltTVNSMFQzQ3VEbWtlUTE0cE5tY3FNcC9icVgzaTFhZXRhZEZUV3N1aGwwbkgyaVJxS1pESnhabFNjdTk5dG9xNUdyZGNGVWN4R1JReWwrc0ZoVWgzWGNCV0pWN1kyd25GTDJ0WTd0aHRROFpQbXpUTzhrUEtDYkVsNVU2Z0NTSWtwUlBOWkJQRzRkVDBxdSs4QmQ3MVB1N25BeTFpQjRVNnlzMzRjRmxPbEpwR00wRkdyMzVMZWZiUFI4Ymd6Nk05WE5qUmJnTURRY1hETW5maURKN0U4MW9WQnBDWE45eWRIaTFibGhha3VFQmFvYTlNL2themlwR1BtQXV4cldCTW1wMnEwd3pRcDlHUzJlOGtlSklEd0p1eXpFTGFSWkM0eWpWc1ZaUU1LLy9EKzRKM2JvVTVkckNtbW02QzFyd05SZlNadUZHTmNJWURaZUh0ZUdvQ0Y0RUE1amNnZEZhSVlyRGVqNlZBYWI0MnZONUxVQ0F3RUFBYU5qTUdFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZkJnTlZIU01FR0RBV2dCVFl1NXMxTFZzLzcrRnJ5OHdNejZJdXVtbDZqREFkQmdOVkhRNEVGZ1FVMkx1Yk5TMWJQKy9oYTh2TURNK2lMcnBwZW93d0RnWURWUjBQQVFIL0JBUURBZ0VHTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElDQVFCYmNIeVYyYjVtR3dIV3hDU2JEd3I1VjdQZ1NaSUphMXNjckNuSUhEM1oveXhHN1hwNWNJbEJqNE15NGxSSGpadEpWdlVmVGpGcHNFREV2L1BBcTc0T0lvbE4va1BkTWZUY3pGQkdwdnNacjB4MnlVUEVKelFzVFNMeDBnd1ord3ZvS0hXRTBDN0dxZ2tBQk5yRlc4RkxxUnpOcVhzbU01b0k0YzNWNXN5eHdCWUZEVVk1TVBXZHFKRURmUnZqakpQQ1htS09QMWxPK2krRTA3dnNGcER6SFMyRktCNWM2c1RJWmt2dCtIL0NHNGhWdTZadmNGWFh6djJKSy9Fb1ZaNndVZENsdDRwTGdUUVovVzBxUUNKM0dqRmUvUFo3NG1ja1cxeC96azl6MFZRalVwVHF6M0FqUExJamo2MG5NTFRMcDUwb0ZjTUxqdVhzczB2djR0VWpDVHBzMlFnOW4wR3dMbERSNDJOeXcyVEtjTU1CNnljRW9OaVVFdTBsZ2ExSk0wU1ZTc0ZQN0dTVS9XOVZxYXRLN3hwL1hXOS9HRHZncDNaL3BQTTBFM2kxdHFwL25PVTQzWW9mOFdpNEpKNnpPZ1hCenFReE82TUlMWko0cUVmZW5BdEk3bzk1VHk1eWs5dlJib1VzdHl3c2ZDNkNWc3UwOE5ML3R0dzRPU1hPdmJrUSs3ek14Q1lUOVl5UUQ1bC9sdEMzYmdkai9sQlp6bnNCdUdZTk9CMTZ3RE5jR3B1dWFla3NmUWZCRFBIVCt2UjZnUFZGWnB5Vnd5L3R6SDZOVHBVR0Rqb0hWc0N4VWpZODcwT000RDJKY2o5T0lxcWRsa0NvV082aTRWZWM3c1R6eGlYMzlvTlNyMUc3Q29iYzNzWWRobnhnL3ZsZzFCZUNKODdwMEE9PSJdfQ.eyJhdWQiOiJkaWQ6aXNoYXJlOkVVLk5MLk5UUk5MLTEwMDAwMDAxIiwiZXhwIjoxNzE5MzIxMzU0LCJpYXQiOjE3MTkzMjEzMjQsImlzcyI6ImRpZDppc2hhcmU6RVUuTkwuTlRSTkwtMTAwMDAwMDAiLCJqdGkiOiJhZGYyZTllY2RiOTc0ZmQ2ODIwOWMzOTAwMDViMTI3NiIsIm5iZiI6MTcxOTMyMTMyNCwicGFydHlfaW5mbyI6eyJwYXJ0eV9pZCI6ImRpZDppc2hhcmU6RVUuTkwuTlRSTkwtMTAwMDAwMDEiLCJwYXJ0eV9uYW1lIjoiQUJDIFRydWNraW5nIiwiY2FwYWJpbGl0eV91cmwiOiIiLCJyZWdpc3RyYXJfaWQiOiJkaWQ6aXNoYXJlOkVVLk5MLk5UUk5MLTEwMDAwMDAwIiwiYWRoZXJlbmNlIjp7InN0YXR1cyI6IkFjdGl2ZSIsInN0YXJ0X2RhdGUiOiIyMDI0LTAyLTEyVDAwOjAwOjAwLjAwMFoiLCJlbmRfZGF0ZSI6IjIwMjUtMDItMTNUMDA6MDA6MDAuMDAwWiJ9LCJhZGRpdGlvbmFsX2luZm8iOnsiZGVzY3JpcHRpb24iOiIiLCJsb2dvIjoiIiwid2Vic2l0ZSI6IiIsImNvbXBhbnlfcGhvbmUiOiIiLCJjb21wYW55X2VtYWlsIjoiIiwicHVibGljbHlfcHVibGlzaGFibGUiOiJmYWxzZSIsImNvdW50cmllc09mT3BlcmF0aW9uIjpbXSwic2VjdG9ySW5kdXN0cnkiOltdLCJ0YWdzIjoiIn0sImFncmVlbWVudHMiOlt7InR5cGUiOiJUZXJtc09mVXNlIiwidGl0bGUiOiJ0dSIsInN0YXR1cyI6IkFjY2VwdGVkIiwic2lnbl9kYXRlIjoiMjAyNC0wMi0xMlQwMDowMDowMC4wMDBaIiwiZXhwaXJ5X2RhdGUiOiIyMDI1LTAyLTEzVDAwOjAwOjAwLjAwMFoiLCJoYXNoX2ZpbGUiOiJhZTFkN2QzMGY1ZGI5NDk3ZjIxYTc5ODRhOGE2ZjM1OSIsImZyYW1ld29yayI6ImlTSEFSRSIsImRhdGFzcGFjZV9pZCI6IiIsImRhdGFzcGFjZV90aXRsZSI6IiIsImNvbXBsYWlhbmN5X3ZlcmlmaWVkIjoibm8ifSx7InR5cGUiOiJBY2Nlc3Npb25BZ3JlZW1lbnQiLCJ0aXRsZSI6ImFhIiwic3RhdHVzIjoiQWNjZXB0ZWQiLCJzaWduX2RhdGUiOiIyMDI0LTAyLTEyVDAwOjAwOjAwLjAwMFoiLCJleHBpcnlfZGF0ZSI6IjIwMjUtMDItMTNUMDA6MDA6MDAuMDAwWiIsImhhc2hfZmlsZSI6ImFlMWQ3ZDMwZjVkYjk0OTdmMjFhNzk4NGE4YTZmMzU5IiwiZnJhbWV3b3JrIjoiaVNIQVJFIiwiZGF0YXNwYWNlX2lkIjoiIiwiZGF0YXNwYWNlX3RpdGxlIjoiIiwiY29tcGxhaWFuY3lfdmVyaWZpZWQiOiJubyJ9XSwiY2VydGlmaWNhdGVzIjpbeyJzdWJqZWN0X25hbWUiOiJDPU5MLCBPPVRlc3QgUGFydGljaXBhbnQgUmVnaXN0cnksIENOPVRlc3QgUGFydGljaXBhbnQgUmVnaXN0cnksIG9yZ2FuaXphdGlvbklkZW50aWZpZXI9TlRSTkwtMTAwMDAwMDAiLCJjZXJ0aWZpY2F0ZV90eXBlIjoiUEtJbyIsImVuYWJsZWRfZnJvbSI6IjIwMjQtMDItMTJUMDA6MDA6MDAuMDAwWiIsIng1YyI6WyJNSUlHa0RDQ0JIaWdBd0lCQWdJVUpYckNOdm56eTV5alU5V0ErTmprQzNPekdpSXdEUVlKS29aSWh2Y05BUUVMQlFBd1hURWVNQndHQTFVRUF3d1ZaVWxFUVZObFUwVkJURTlKUkY5SmMzTkRRVWMwTVJrd0Z3WURWUVJoRXhCT1ZGSk9UQzFwVTBoQlVrVlVSVk5VTVJNd0VRWURWUVFLRXdwcFUwaEJVa1ZVWlhOME1Rc3dDUVlEVlFRR0V3SllXREFlRncweU5ERXhNRFl4TkRNeU1URmFGdzB5TnpFeE1EWXhORE15TVRCYU1HNHhDekFKQmdOVkJBWVRBazVNTVNJd0lBWURWUVFLREJsVVpYTjBJRkJoY25ScFkybHdZVzUwSUZKbFoybHpkSEo1TVNJd0lBWURWUVFEREJsVVpYTjBJRkJoY25ScFkybHdZVzUwSUZKbFoybHpkSEo1TVJjd0ZRWURWUVJoREE1T1ZGSk9UQzB4TURBd01EQXdNRENDQVNJd0RRWUpLb1pJaHZjTkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFMVHNBRWVBVWs5NUI2bHZkZ1hPcjRoekUxTjJRL2E1UmUwcmsvZEJiRmZCTVBEMWN0ekVMeHJ4a0hLSEFKWjBNZmxjOWdPMitYMjdIVkRoUHF3SkZ1ZWg0VTlpend5dnF6czFWRys5U1Fzbnd6V1p5Q1RQNDBsWGx2cUtHMWtyVWlmRjJsRjNMSmVRRml3UmRSd2txZzRPM2dSU2RvTmdFU0hjOVJReVZTMHNPQUhLVlh4em1rS0NON2FTcGE3bVBVQ290SWVSRmIydFV2R1hiNWxOUUJoejdPd01jQW1NVjU4N3V6VWxuZFZLc0EwbU40UGtySWZQWjNWVmVZOHF1clByTHNPWFBYbVJyRjArWFZmcHoyeGJDMDc2M1M1bHI2VWlrNmJhWE9kQ2NWczd0MWIvNzhaTWV0NEMzVzFuS0dFYmVtcGxidjBoYXpMdUdlbExYV2tDQXdFQUFhT0NBalV3Z2dJeE1BNEdBMVVkRHdFQi93UUVBd0lHUURBTUJnTlZIUk1CQWY4RUFqQUFNQjhHQTFVZEl3UVlNQmFBRkxNYVQwSkE2ZGg0bld2Ly9DU3dFTEUwUFBDSk1GY0dDQ3NHQVFVRkJ3RUJCRXN3U1RCSEJnZ3JCZ0VGQlFjd0FZWTdhSFIwY0hNNkx5OWpZVGN1YVhOb1lYSmxkR1Z6ZEM1dVpYUTZPRFEwTWk5bGFtSmpZUzl3ZFdKc2FXTjNaV0l2YzNSaGRIVnpMMjlqYzNBd0VBWURWUjBnQkFrd0J6QUZCZ05WSFNBd0h3WURWUjBsQkJnd0ZnWUlLd1lCQlFVSEF3UUdDaXNHQVFRQmdqY0tBd3d3V3dZSUt3WUJCUVVIQVFNRVR6Qk5NQk1HQmdRQWprWUJCakFKQmdjRUFJNUdBUVlDTURZR0NDc0dBUVVGQndFRERDcFVhR2x6SUdseklIUmxjM1FnWlhObFlXd2dZMlZ5ZEdsbWFXTmhkR1VnWm05eUlIUmxjM1JwYm1jd0hnWUZaNEVNQXdFRUZUQVRFd05PVkZJVEFrNU1EQWd4TURBd01EQXdNRENCeHdZRFZSMGZCSUcvTUlHOE1JRzVvSUcyb0lHemhvR3dhSFIwY0hNNkx5OWpZVGN1YVhOb1lYSmxkR1Z6ZEM1dVpYUTZPRFEwTWk5bGFtSmpZUzl3ZFdKc2FXTjNaV0l2ZDJWaVpHbHpkQzlqWlhKMFpHbHpkRDlqYldROVkzSnNKbWx6YzNWbGNqMURUaVV6UkdWSlJFRlRaVk5GUVV4UFNVUmZTWE56UTBGSE5DVXlRMjl5WjJGdWFYcGhkR2x2Ymtsa1pXNTBhV1pwWlhJbE0wUk9WRkpPVEMxcFUwaEJVa1ZVUlZOVUpUSkRUeVV6UkdsVFNFRlNSVlJsYzNRbE1rTkRKVE5FV0Znd0hRWURWUjBPQkJZRUZGUDZERGMvK2Qya2ZJcm1uSkF1VDc0ODEzY2JNQTBHQ1NxR1NJYjNEUUVCQ3dVQUE0SUNBUUJIcDVXWGk4Vk5vRDBNYzhicnNmS213dXVRbjVhUEdQWWgrejVQY1FXelI0MEh2TzFGZTl2b3laTlp1Vk5xcENFSmNJMDRPZUJlWm9uL2x6WW9URkdTTENTUHBaeTkyaHFmaGE0SnJMa0p2RjAwaTdvSU81SFNjay9KUXhqdWFHdW1xMHVRMDJhQTZtRjNXYjlaV2tyaElvWFJVcFNpZ0c0a01Kc0MyclZkZlhpejZVUGRqdktLNWszYThCSXpmZkc3MGdKRFBqMCtzSXpjcHhacmUrTVBFSW56QkRtUWdrYmtsL1JYNFJEaG5TMWovNEI2VHNoYjJSZW1BM3E2YkFZb045SWhLbGhGdU1kOXovTUlwbkRwU3dIaElyaG5tUlpVLzRDQkVwdGF0NE1VRXRScWkyUUU1SDhQRU1MbFQvNTZwYW5uaW15RnlRTlNJeGJUcHVjSlEzeUkzUElUb0xLZ3pOY2dUVGlpaGFla3R2dHoydWorVWtkbjAwM2ZhekYzTlF2VUU3Y3g5RjdUV0JEbWs0aEdkQS9Qb2ZWQUFUeXAwVHU3a1dMZ3ZoblNNVEc4eWxpZG1ZY3FSVE1GaVNpWGhid0l1QnU4NXl5QWVXSkpvcGpPOUlBVUNxZ3FtTlNCS05WbWhFekViazhtMW9yYkRVZ2grWkFHU2FqZyt3U0FjMWduT2RqMWlKay81TDFDTHlWNmlVYlMvejY1Z2kzN3dTeW1hc2wvcE9nOUpCeGJGU3dpUER1VTY1NGh2WDFpYWpDL0gyS3JER1RXaTVMaGJ6RFRjd0JUbWhjcTZHOVpOeG8rOVlvTmxkdWVsWHAwd1ZJRzJaOU9FZ1kvcUZ2bE5xL1R6RzBSVnVvZ3Ezd2dSbU5sZ3hQU3YyQjlUYTNFREdUbGs0TlZtQT09IiwiTUlJRjJqQ0NBOEtnQXdJQkFnSVVQRzMrVEFueFZPQmNlOU5hUHQ5cFRBZ201UjR3RFFZSktvWklodmNOQVFFTEJRQXdRakVlTUJ3R0ExVUVBd3dWWlVsRVFWTmxVMFZCVEU5SlJGOVRkV0pEUVVjek1STXdFUVlEVlFRS0V3cHBVMGhCVWtWVVpYTjBNUXN3Q1FZRFZRUUdFd0pZV0RBZUZ3MHlNekE0TWpVd09UQXhNekphRncwME9EQTRNalV3T1RBd01EVmFNRjB4SGpBY0JnTlZCQU1NRldWSlJFRlRaVk5GUVV4UFNVUmZTWE56UTBGSE5ERVpNQmNHQTFVRVlSTVFUbFJTVGt3dGFWTklRVkpGVkVWVFZERVRNQkVHQTFVRUNoTUthVk5JUVZKRlZHVnpkREVMTUFrR0ExVUVCaE1DV0Znd2dnSWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUNEd0F3Z2dJS0FvSUNBUURhblVnTTEvUFF5WE5UWCtVT0xHclpqUzhIYVRXUi9QNHhEOFNNQ1J4T1hIS3pITFFxRVFPdUhEL3crcng5L2JFd3pINHdWZkowbTYvcjU2S09nMHdMVWxWd095aWtPWEdvSVREMnUrVWk5dDI0dFlJa3g4empMRzdWSFZjdzRkWE90OTJzdktZMUx5YnZscHJvV3pUSGxSd29JTzFZUTRoTytyeWJzdy9LRURFWFVia293amxIQVBjd25zT1c2NDM2N0VOK2V6VDFzUzhkekZJeG1HOHFDMkxyTTJzWEpXcXE1dkplRS84NlRmWjJOTU8rQ1V4a2pqN3VQZ2JXMlYvTU9VaFl5QXRHQWp6ZC9Ld09yTE1STVlhWE9JajYxbThSNzFuaC9MVjluOGRuajB3VFFPTlRIaHVNN21kWlF4aHFPZGtMMmNrU3JCV2kzYXRFVlQxT2hCUlg0Rm1taElobVNXdUN0Z3lLaURDSW90eUdBc1gybzY4MTdmZWU0UmR0d2Z3OVE0b04zTkFodG9kNjBpT0FXQXBWdCtCVDV0dmRnR09ZV1BjYk1SNXBHemJwMzhkR1V5dXdZWlY0TEFuSUdTbTV5YXVjTkUyRTJ4clFDYkVlWm00UlBzeDVKbGVXemlways0MmQ3dnF2V0Q4OElRY1ErYlpNMlg0ckpCWk5zMTY2Q2x4K202SG1LeEtBTGViVXRqc3pzZ3lIOGNxMTBkK2s0QW84b0NhT1lqdjJJYUViTWQrZlYvVWY4a1BrelR0S2x0dGRxaWl4b0lxeWNYTUVnQmFTZ2t1YjdYb1E2SzI2dFJQSjB3NVFrdXVoM01LdEdFV2ZXN0VFR21wbkNxak92Ni9yQU1KaU1XeWgxSWdMZ05CVVBQN3phVlBwREF0Qzg4T1NKUUlEQVFBQm80R3NNSUdwTUJJR0ExVWRFd0VCL3dRSU1BWUJBZjhDQVFFd0h3WURWUjBqQkJnd0ZvQVU0dWJYMHA2RFZqTjlES3RPV1dNWUFzK0h4ZFF3R0FZRFZSMGdCQkV3RHpBRkJnTlZIU0F3QmdZRVZSMGdBREFwQmdOVkhTVUVJakFnQmdnckJnRUZCUWNEQWdZSUt3WUJCUVVIQXdRR0Npc0dBUVFCZ2pjS0F3d3dIUVlEVlIwT0JCWUVGTE1hVDBKQTZkaDRuV3YvL0NTd0VMRTBQUENKTUE0R0ExVWREd0VCL3dRRUF3SUJCakFOQmdrcWhraUc5dzBCQVFzRkFBT0NBZ0VBWnY1R3VreDBQRXZWUkVJdDhNVGFQZkNINGF3eWlpWXlpMTdoNlI1TExrMXJlcndRc1NTU0hmVnFmdGR3UkYwb2NMcDJQWEpoZTA3NXFWNDA2QzA0Q2phbU5rM2V6OVppTkhDTmpQdGZpZDZvT3hxejFYazhYUGpOWUVsYkFGbVA3ZUtsLzQ0MXZaaEd1ay9SaFhHTnhRYnRvMFExNmc4SVJjR0R2V2dOaHRydEIxRzJ4U210QjFTMnVVcFNhaVpWTk9ya2R6VGhpRUpzZVVSQm9YeFVYSXFwTHlQVFJsNk1NZ1ZhTEdSWVJjM3ZZaWo0QjdNMmhCTjcvY2puR0xzTVZ0Z2JPdjZDVjIxZzJTWG93YmdPcXpCeUg1MVVUUjZPYkhpR2owa1NDQUxHMTRJUVBrelFQaVNwanUrKzlNMmpBalBNM280MjFaT1VETVAyNDZDc3FQWHJUQWJQWEpWVVIvZ2k0dTUza216QzIxMGp2VnE5aEh3ZWx4UU9UUEZobE02RTFDaDRKYjRQUVJMS0RQRmwrNU5XNEZ5MkpBRGp5dXB5VkhuY2RMRXVQeTBQZ0NMMllvMTQ3SFNwUGo0dTdqYzFSbUhVN05PMTJFVjJaQ01mRmxSd2RHdjZpZjhxTzdzLzZscFpKanBQdExFT2JBNXRENGFoYythUE5BaTlXQ2swcGVSbTFLRTVWR0RXS0ZOU05BaUxKTnpQN20yUTZ5OGZPeTM4Y05nRkJoR09GL0tnRUlzVDEwVis1SzVvK3lsVlZ0UFZlUlJFTkV2S085RUxremUwSUhnc1RCLzZjd09pajRweE05SnZhdWowNkdnbGhJaGlJQTZxMGlEVXFCMU1VUjBIemlZOUJzbldZOWtSOGh3VjNPVytuc216dFF3R1ZFdzJralU9IiwiTUlJRmpqQ0NBM2FnQXdJQkFnSVVGajkvM2pHT1JodElwWjk4T0xSdFJIczBBWXN3RFFZSktvWklodmNOQVFFTEJRQXdRVEVkTUJzR0ExVUVBd3dVWlVsRVFWTmxVMFZCVEU5SlJGOVNiMjkwUnpJeEV6QVJCZ05WQkFvVENtbFRTRUZTUlZSbGMzUXhDekFKQmdOVkJBWVRBbGhZTUI0WERUSXpNRGd5TlRBNU1EQTBORm9YRFRRNE1EZ3lOVEE1TURBd05Wb3dRakVlTUJ3R0ExVUVBd3dWWlVsRVFWTmxVMFZCVEU5SlJGOVRkV0pEUVVjek1STXdFUVlEVlFRS0V3cHBVMGhCVWtWVVpYTjBNUXN3Q1FZRFZRUUdFd0pZV0RDQ0FpSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnSVBBRENDQWdvQ2dnSUJBTDduemt5b0ZYV2cxZ2hkRzZmbnV6dXZBZE1Xc20vSSttWDNEYnozSS9LeXFMZFd0N1hHM09XVlNuaG9zQUQyVzJTWG5sR1hxeHllMGhQdEVna1FJZGVsN0ZuRm9zV1dyc0VPcmF0Z1hsbk00TldwWURLTVdFVllybzdoekhnQ1oxMjZaUFFVTGxzNTJOY3ZwUk04UzNkWmsrWEsxa2YzVmVTMEoyaFVTRkVBWkhMeVhDWGtoVG5VSTdxbzF1cjFUbURXWXNOUXd4REdPdTdDUXlaWWRLSXdLcUk5ZUdzUkxnTTZQUWxnM3ZaQ3JvcE9vZE03bG9UdWlyQ2wzVUt3NEhyR2syY09pQWY0SWQvL2VhVkNhZndraktzSlRRdUFhaHVSejRxTXNIWUEza0RReiswK2hnblI3NHIraUxyKzhscjA0NGdsbmFXSVd2ckVHY2lSUitQZWN0ZnJMT1FRSVc3aGExM2R6V296a1QwYWduVDFMay9DR3JnTlhWcWhvc0dDMHJ1QVFQSTZEY1BOeTJJTk05Smd0Q21Cc1NqTU0xODVGSUJYNEN5MTdtNzNoOXJLalhaTXhiNlR4WDdDSVp5ZXNnQVMwYkJSYjZ4SXBLc1pybHJqRWF6c2pDMlZIUlJXT01KV1lxY1hMRDVaTnpHTVpVcjZUdDJ5Q1VBdGFtZWNEQVRLTjYvR2JzeGUwdEFCTjBwazByeDVpYys0VFhkQnJvTjlPQVpjaEg0dEpDc09DS29uQ3pBcFB4VlRoRE5NeHNvb3lGcTlEbWdYaHlFVU9Pb2VTK0ZyNEZnSCtqU0FObS9sMTc4Smg5ZXBmWFE5Z0UvNmFxUHhZak5TQmdTNjBTMUVWcUNweHcyclQxbVVZZUdmd2liVm01M2l4R3B0UjhrdGU3MG5BZ01CQUFHamZUQjdNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdId1lEVlIwakJCZ3dGb0FVMkx1Yk5TMWJQKy9oYTh2TURNK2lMcnBwZW93d0dBWURWUjBnQkJFd0R6QUZCZ05WSFNBd0JnWUVWUjBnQURBZEJnTlZIUTRFRmdRVTR1YlgwcDZEVmpOOURLdE9XV01ZQXMrSHhkUXdEZ1lEVlIwUEFRSC9CQVFEQWdFR01BMEdDU3FHU0liM0RRRUJDd1VBQTRJQ0FRQjhqcVlVdzdUditXNFpIMDZQcmFGNnpmZEN4VDAzRGhSQ2h3NFovUW0wWFZTMmdSeVJ3Y01wdFFGRVJoUE5PQTIyMXU5THFveloxYUszQjM1d2tjR0QvZEZKZ0pDSkI5NlNNdHRRbDJIcC9FaVF6OVBGRjAyZEJTcnVYaElhcmFQYk0rTklHZG15TjJaeXdHR1hJMWFVN0pEM1hHMjlTaDJBQWRPa3Y4ZEk2Z0VnenQvREhTSUliYWtiYUxkRUljN1dCOTVHVUhjSG5OajU4VHpUU3lWZkJtdGIzdkJLOUpHMElvNk5BUFdRWXgyVlA4K2ZJeWxqYTJkMTI4aGdoMGRzRHJYRkFNKzlBWDhoYWU1dnZ4Vmk4VFdzL3oyaW5nK2sraW1tdFNOZnp6S01pTzdyNXdKQWt5and0VUJsQlN0S0lBNlplcjIycG1TVFpaZXVjSGRFVGhhYmNXUWlkVlptTVAzSWY2aXg1VWV5WDhWNk9BdzBnc0kzSVViOTFRNzZkNHNMV2J6b0dOT05BWUZDMUl5ejB4V2o0N1pkNlA3WjJHZmgxVmlJYk14VmlGRGxObWJFWmZscEVTODdLL3loQlVRL3RuQ05HUW9TZHRzdXl1V2czTmZXYnlKb05aemxVOTZKV3hjcVNhWGt6c2U5ajh3YWhheUtOTTZTV0tTWTFaMDVoOEpTY09DbUZCNUY4VjNiZDVuUC91S2phN0g4TzRHT0FBUE0zT3RHK2VxMzd4Vy94TjBvQXNqYnZ0NG9qblViSnMya2lBeEVkd1h4MEs3bWNQZVM3eldtVnQ4aDRSZGNEbS9QR1REYTltOE9xaFF1Y2s4MFFudXhJVVdWcjdHV2FkaDFMeS90bDArYnZta2NuTzJ5YlJKK2dicVJFSERUZTBzeHN3PT0iLCJNSUlGY3pDQ0ExdWdBd0lCQWdJVUN2ZlN2UWVyakZEbU0yTHZtam9URE9JbkxBd3dEUVlKS29aSWh2Y05BUUVMQlFBd1FURWRNQnNHQTFVRUF3d1VaVWxFUVZObFUwVkJURTlKUkY5U2IyOTBSekl4RXpBUkJnTlZCQW9UQ21sVFNFRlNSVlJsYzNReEN6QUpCZ05WQkFZVEFsaFlNQjRYRFRJek1EZ3lOVEE1TURBd05sb1hEVFE0TURneU5UQTVNREF3TlZvd1FURWRNQnNHQTFVRUF3d1VaVWxFUVZObFUwVkJURTlKUkY5U2IyOTBSekl4RXpBUkJnTlZCQW9UQ21sVFNFRlNSVlJsYzNReEN6QUpCZ05WQkFZVEFsaFlNSUlDSWpBTkJna3Foa2lHOXcwQkFRRUZBQU9DQWc4QU1JSUNDZ0tDQWdFQXhWTUtJOVJNaG5PU0EyTG9yZ0VDM1lETmQyaXRuNzJMT2RmUlJVdTQ1Zkc3MEllditFNGtScnpKMWsyM1dYSDVzSFRiY3NscEVUZUFabmowL3hLQllkRUx1d2U2SFg4a0l3ZDFzNldHbFpjMGw3a2kxZm1qNEhxU3N0R0ovQktHajFhNzIzNld3UEpFV0VIcWZ4OVFNRWV1SktsVVNWRkZ5RTRqTXNmWXA4N2lmSXB1d0U4b0xPdzR5a0RET1A1MlRkMDZ2SENJWXJxREJydnhGZEF1RW5GeE54bFBYUkU0Z0xzeWdnNjJIT3hPdUdtaFdmc3k2VGNjSXA1WElPZGoyQ3plb1hKODJtNS9pbUJQSnZrZWZucmpFUVh6aVNFMm1pMklCRHRHUC9Bd0ZXSTdXcHNFeURYV0ltTVNSMFQzQ3VEbWtlUTE0cE5tY3FNcC9icVgzaTFhZXRhZEZUV3N1aGwwbkgyaVJxS1pESnhabFNjdTk5dG9xNUdyZGNGVWN4R1JReWwrc0ZoVWgzWGNCV0pWN1kyd25GTDJ0WTd0aHRROFpQbXpUTzhrUEtDYkVsNVU2Z0NTSWtwUlBOWkJQRzRkVDBxdSs4QmQ3MVB1N25BeTFpQjRVNnlzMzRjRmxPbEpwR00wRkdyMzVMZWZiUFI4Ymd6Nk05WE5qUmJnTURRY1hETW5maURKN0U4MW9WQnBDWE45eWRIaTFibGhha3VFQmFvYTlNL2themlwR1BtQXV4cldCTW1wMnEwd3pRcDlHUzJlOGtlSklEd0p1eXpFTGFSWkM0eWpWc1ZaUU1LLy9EKzRKM2JvVTVkckNtbW02QzFyd05SZlNadUZHTmNJWURaZUh0ZUdvQ0Y0RUE1amNnZEZhSVlyRGVqNlZBYWI0MnZONUxVQ0F3RUFBYU5qTUdFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZkJnTlZIU01FR0RBV2dCVFl1NXMxTFZzLzcrRnJ5OHdNejZJdXVtbDZqREFkQmdOVkhRNEVGZ1FVMkx1Yk5TMWJQKy9oYTh2TURNK2lMcnBwZW93d0RnWURWUjBQQVFIL0JBUURBZ0VHTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElDQVFCYmNIeVYyYjVtR3dIV3hDU2JEd3I1VjdQZ1NaSUphMXNjckNuSUhEM1oveXhHN1hwNWNJbEJqNE15NGxSSGpadEpWdlVmVGpGcHNFREV2L1BBcTc0T0lvbE4va1BkTWZUY3pGQkdwdnNacjB4MnlVUEVKelFzVFNMeDBnd1ord3ZvS0hXRTBDN0dxZ2tBQk5yRlc4RkxxUnpOcVhzbU01b0k0YzNWNXN5eHdCWUZEVVk1TVBXZHFKRURmUnZqakpQQ1htS09QMWxPK2krRTA3dnNGcER6SFMyRktCNWM2c1RJWmt2dCtIL0NHNGhWdTZadmNGWFh6djJKSy9Fb1ZaNndVZENsdDRwTGdUUVovVzBxUUNKM0dqRmUvUFo3NG1ja1cxeC96azl6MFZRalVwVHF6M0FqUExJamo2MG5NTFRMcDUwb0ZjTUxqdVhzczB2djR0VWpDVHBzMlFnOW4wR3dMbERSNDJOeXcyVEtjTU1CNnljRW9OaVVFdTBsZ2ExSk0wU1ZTc0ZQN0dTVS9XOVZxYXRLN3hwL1hXOS9HRHZncDNaL3BQTTBFM2kxdHFwL25PVTQzWW9mOFdpNEpKNnpPZ1hCenFReE82TUlMWko0cUVmZW5BdEk3bzk1VHk1eWs5dlJib1VzdHl3c2ZDNkNWc3UwOE5ML3R0dzRPU1hPdmJrUSs3ek14Q1lUOVl5UUQ1bC9sdEMzYmdkai9sQlp6bnNCdUdZTk9CMTZ3RE5jR3B1dWFla3NmUWZCRFBIVCt2UjZnUFZGWnB5Vnd5L3R6SDZOVHBVR0Rqb0hWc0N4VWpZODcwT000RDJKY2o5T0lxcWRsa0NvV082aTRWZWM3c1R6eGlYMzlvTlNyMUc3Q29iYzNzWWRobnhnL3ZsZzFCZUNKODdwMEE9PSJdLCJ4NXQjczI1NiI6ImIzY2E1YWUwNzY4MDRkMmM0ODkwZjFiOGRiNDUzNTg5ZDk4YTIyOTc1YzNjZDVjMzBiNmM4YTVmMTUwNzQxODYifV0sInJvbGVzIjpbeyJyb2xlIjoiUGFydGljaXBhbnRSZWdpc3RyeSIsInN0YXJ0X2RhdGUiOiIyMDI0LTAyLTEyVDAwOjAwOjAwLjAwMFoiLCJlbmRfZGF0ZSI6IjIwMjUtMDItMTJUMDA6MDA6MDAuMDAwWiIsImxvYSI6IiIsImNvbXBsYWlhbmN5X3ZlcmlmaWVkIjoibm8iLCJsZWdhbF9hZGhlcmVuY2UiOiJubyJ9XSwiYXV0aHJlZ2lzdGVyeSI6W119LCJzdWIiOiJkaWQ6aXNoYXJlOkVVLk5MLk5UUk5MLTEwMDAwMDAwIn0.WmAXXCCJBK-ZWwujJNO520yD18WwzoNhlulkPUOsFSqCVdt7cGGfVQ7jJjNJacl2-2Nsz7tVx0027_aynx84AgPoAZArdGadRkbE2kpI9M0swY-UBOXfrtDdUIctDCNDcia54hbeonLo1RYCt-khteO8756R6bcqrzkRabFszPNzj5-8mxYijK9WgTmAzmfJqVPVfY1c4ZuC6uqAr-DvOFaauNfLWWOv_w2nTp8CmzAa-Uv7UgfZOwsdD2LFHAZUqP_3n9HLCMQfE9-64LrGVaRNg1Q52_PBOcE6X8N4Lu89nrXWHzYtGepFBFuegknTaxvVIDmWP1WMeezBDIAJng"
    service_content:
      properties:
        service_content_1:
          type: string
        service_content_n:
          type: string
    AdditionalInfo:
      title: AdditionalInfo
      description: >-
        Object which contains additional general contact information of the
        party.
      required:
        - publicly_publishable
      type: object
      properties:
        description:
          description: A brief description of the party
          type: string
          example: >-
            Example is a corporation providing example services to its customers
            in example regions
        logo:
          description: URL pointing to the endpoint where company logo can be found.
          type: string
          example: https://www.example.com/logo.png
        website:
          description: Website address of the party
          type: string
          example: https://www.example.com/
        company_phone:
          description: General company phone number of the party
          type: string
        company_email:
          description: General company email id of the party
          type: string
          example: John.doe@example.com
        publicly_publishable:
          description: Consent to publicly publish the information contained in this object
          type: boolean
          example: false
        countries_operation:
          description: An array of ISO names of the countries where the party operates
          type: array
          items:
            type: string
          example: []
        sector_industry:
          description: An array of GICS based sectors/industry that party serves in
          type: array
          items:
            type: string
          example: []
        tags:
          description: An free text field containing keywords relevant for party
          type: string
          example: mobility transport_operator
    Certificate:
      title: Certificate
      description: >-
        Object which contains the details of the PKI/x509 certificates of the
        party.
      required:
        - subject_name
        - certificate_type
        - enabled_from
        - x5c
        - x5t#s256
      type: object
      properties:
        subject_name:
          description: >-
            subjectName as encoded in the X.509 certificate which corresponds
            with the party that is being requested from the iSHARE Satellite.
            Used by the iSHARE Satellite to match the certificate identifier.
          type: string
          example: >-
            CN=Test Service Consumer,organizationIdentifier=NTRNL-10000001,O=Test Service Consumer,C=NL
        certificate_type:
          description: type of certificate
          type: string
          example: eIDAS eSEAL
        enabled_from:
          format: date-time
          description: UTC timestamp which states since when certificate is valid.
          type: string
          example: '2023-01-31T00:00:00.000Z'
        x5c:
          description: >-
            The base64 encoded pem format value of the certificate identified by
            its subject name and fingerprint
          type: string
          example: |-
            MIIFVzCCAz+gAwIBAgINAgPlk28xsBNJiGuiFzANBgkqhkiG9w0BAQwFADBHMQsw
            CQYDVQQGEwJVUzEiMCAGA1UEChMZR29vZ2xlIFRydXN0IFNlcnZpY2VzIExMQzEU
            MBIGA1UEAxMLR1RTIFJvb3QgUjEwHhcNMTYwNjIyMDAwMDAwWhcNMzYwNjIyMDAw
            MDAwWjBHMQswCQYDVQQGEwJVUzEiMCAGA1UEChMZR29vZ2xlIFRydXN0IFNlcnZp
            Y2VzIExMQzEUMBIGA1UEAxMLR1RTIFJvb3QgUjEwggIiMA0GCSqGSIb3DQEBAQUA
            A4ICDwAwggIKAoICAQC2EQKLHuOhd5s73L+UPreVp0A8of2C+X0yBoJx9vaMf/vo
            27xqLpeXo4xL+Sv2sfnOhB2x+cWX3u+58qPpvBKJXqeqUqv4IyfLpLGcY9vXmX7w
            Cl7raKb0xlpHDU0QM+NOsROjyBhsS+z8CZDfnWQpJSMHobTSPS5g4M/SCYe7zUjw
            TcLCeoiKu7rPWRnWr4+wB7CeMfGCwcDfLqZtbBkOtdh+JhpFAz2weaSUKK0Pfybl
            qAj+lug8aJRT7oM6iCsVlgmy4HqMLnXWnOunVmSPlk9orj2XwoSPwLxAwAtcvfaH
            szVsrBhQf4TgTM2S0yDpM7xSma8ytSmzJSq0SPly4cpk9+aCEI3oncKKiPo4Zor8
            Y/kB+Xj9e1x3+naH+uzfsQ55lVe0vSbv1gHR6xYKu44LtcXFilWr06zqkUspzBmk
            MiVOKvFlRNACzqrOSbTqn3yDsEB750Orp2yjj32JgfpMpf/VjsPOS+C12LOORc92
            wO1AK/1TD7Cn1TsNsYqiA94xrcx36m97PtbfkSIS5r762DL8EGMUUXLeXdYWk70p
            aDPvOmbsB4om3xPXV2V4J95eSRQAogB/mqghtqmxlbCluQ0WEdrHbEg8QOB+DVrN
            VjzRlwW5y0vtOUucxD/SVRNuJLDWcfr0wbrM7Rv1/oFB2ACYPTrIrnqYNxgFlQID
            AQABo0IwQDAOBgNVHQ8BAf8EBAMCAYYwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4E
            FgQU5K8rJnEaK0gnhS9SZizv8IkTcT4wDQYJKoZIhvcNAQEMBQADggIBAJ+qQibb
            C5u+/x6Wki4+omVKapi6Ist9wTrYggoGxval3sBOh2Z5ofmmWJyq+bXmYOfg6LEe
            QkEzCzc9zolwFcq1JKjPa7XSQCGYzyI0zzvFIoTgxQ6KfF2I5DUkzps+GlQebtuy
            h6f88/qBVRRiClmpIgUxPoLW7ttXNLwzldMXG+gnoot7TiYaelpkttGsN/H9oPM4
            7HLwEXWdyzRSjeZ2axfG34arJ45JK3VmgRAhpuo+9K4l/3wV3s6MJT/KYnAK9y8J
            ZgfIPxz88NtFMN9iiMG1D53Dn0reWVlHxYciNuaCp+0KueIHoI17eko8cdLiA6Ef
            MgfdG+RCzgwARWGAtQsgWSl4vflVy2PFPEz0tv/bal8xa5meLMFrUKTX5hgUvYU/
            Z6tGn6D/Qqc6f1zLXbBwHSs09dR2CQzreExZBfMzQsNhFRAbd03OIozUhfJFfbdT
            6u9AWpQKXCBfTkBdYiJ23//OYb2MI3jSNwLgjt7RETeJ9r/tSQdirpLsQBqvFAnZ
            0E6yove+7u7Y/9waLd64NnHi/Hm3lCXRSHNboTXns5lndcEZOitHTtNCjv0xyBZm
            2tIMPNuzjsmhDYAPexZ3FL//2wmUspO8IFgV6dtxQ/PeEMMA3KgqlbbC1j+Qa3bb
            bP6MvPJwNQzcmRk13NfIRmPVNnGuV/u3gm3c
        x5t#s256:
          description: The SHA256 fingerprint of the certificate
          type: string
          example: 4E4FD2B1D7D5DF3858CDAA80DE02AD4E0C530939BB65C57E18CEADA431C6872C
    jwt_payload_versions_token:
      title: jwt_payload_versions_token
      description: >-
        It contains iSHARE compliant JWT claims. In addition to that it also
        contains the following parameters
      required:
        - iss
        - sub
        - jti
        - exp
        - iat
        - versions_info
      type: object
      properties:
        iss:
          description: The id of the issuer of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        sub:
          description: The id of the subject of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        aud:
          description: The id of the audience of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        jti:
          description: JTI value of JWT.
          type: string
          example: 378a47c4-2822-4ca5-a49a-7e5a1cc7ea59
        exp:
          format: int32
          description: UNIX timestamp in seconds until when this JWT is valid.
          type: integer
          example: 1504684475
        iat:
          format: int32
          description: UNIX timestamp in seconds when this JWT was issued.
          type: integer
          example: 1504683475
        versions_info:
          allOf:
            - $ref: '#/components/schemas/Version'
            - {}
    jwt_payload_capabilities_token:
      title: jwt_payload_capabilities_token
      required:
        - iss
        - sub
        - jti
        - exp
        - iat
        - capabilities_info
      type: object
      properties:
        iss:
          type: string
          example: did:ishare:NTRNL-12345678
        sub:
          type: string
          example: did:ishare:NTRNL-12345678
        aud:
          type: string
          example: did:ishare:NTRNL-12345678
        jti:
          type: string
          example: 378a47c4-2822-4ca5-a49a-7e5a1cc7ea59
        exp:
          format: int32
          type: integer
          example: 1504683475
        iat:
          format: int32
          type: integer
          example: 1504683475
        capabilities_info:
          allOf:
            - $ref: '#/components/schemas/CapabilitiesInfo'
            - {}
    Agreement:
      title: Agreement
      description: >-
        Object which contains details about contracts including data space
        contracts that party has agreed and signed to.
      required:
        - type
        - title
        - status
        - sign_date
        - expiry_date
        - framework
        - complaiancy_verified
      type: object
      properties:
        type:
          description: >-
            Type of agreement. Refers to the official type of agreement. For
            iSHARE following types are available Terms of Use, Accession
            Agreement, Certified Party Agreement, Satellite Agreement.
            Additionally, each data space can define their own type and it can
            be listed here when appropriate dataspace is chosen
          type: string
          example: TermsOfUse
        title:
          description: The name of the agreement or agreement file
          type: string
          example: iSHARE-TOU-party1
        status:
          description: >-
            Status of the agreement. Available values are Draft, Signed,
            Accepted, Obsolete.
          type: string
          example: Accepted
        sign_date:
          format: date-time
          description: Date of signature of the agreement.
          type: string
          example: '2023-01-31T00:00:00.000Z'
        expiry_date:
          format: date-time
          description: >-
            Expiry date of the agreement. For non expiring agreements the end
            date is far in future
          type: string
          example: '2024-01-31T00:00:00.000Z'
        hash_file:
          description: >-
            The calculated hash of the agreement file that has been uploaded.
            Note agreements are not stored in ledger, but only their hash.
          type: string
          example: 614331b0003219f2d2d123b0cd6105fb
        framework:
          description: >-
            The trust framework to which this agreement complies to. Currently,
            only iSHARE is available.
          type: string
          example: iSHARE
        dataspace_id:
          description: >-
            The ID of the data space. If specified, party is onboarded in
            accordance to this data space's terms and conditions
          type: string
          example: EU.DSP.NL.TESTDATASPACE
        dataspace_title:
          description: The name of the selected dataspace
          type: string
          example: Dutch Test Dataspace
        compliancy_verified:
          description: >-
            Legal compliance to this agreement has been verified in accordance
            with the process set in trust framework as we as data space
            governance. Possible values are Yes, No, Not Applicable
          type: string
          example: 'Yes'
    Role_definition:
      title: Role_definition
      description: >-
        Object which contains details about the iSHARE roles of the party. The
        details include the level of assurance as well as compliance status for
        each role.
      required:
        - role
        - start_date
        - end_date
        - loa
        - complaiancy_verified
        - legal_adherence
      type: object
      properties:
        role:
          description: >-
            Name of the role as defined in iSHARE role framework. Possible roles
            are  ServiceConsumer, ServiceProvider, EntitledParty,
            AuthorisationRegistry,  IdentityProvider, IdentityBroker and
            iShareSatellite.
          type: string
          example: ServiceConsumer
        start_date:
          format: date-time
          description: >-
            UTC timestamp which states since when this role for the party is
            valid.
          type: string
          example: '2023-01-31T00:00:00.000Z'
        end_date:
          format: date-time
          description: >-
            UTC timestamp which states till when this role for the party is
            valid.
          type: string
          example: '2024-01-31T00:00:00.000Z'
        loa:
          description: >-
            Party's level of assurance. Available values are low, substantial
            and high.
          type: string
          example: High
        compliancy_verified:
          description: Compliance requirements of this role has been met by party
          type: boolean
          example: true
        legal_adherence:
          description: >-
            Legal requirements of this role has been met by party including
            signing of appropriate agreements
          type: boolean
          example: true
    Spor:
      title: Spor
      description: >-
        The signed proof received from recognised issuer (currently eID identity
        providers) of information about the organisation and the authorised
        representative of that organisation being authenticated with "High"
        level of assurance
      required:
        - signed_request
      type: object
      properties:
        signed_request:
          description: >-
            verifiable credentials of the participant signed by a trusted
            authority vouching for its authenticity
          type: string
          example: f1aec63b5b6f545718dc1c86efda3a9e8d8c74c4c2af42b39d9e8d41f3fc2b4e
    CapabilitiesInfo:
      title: CapabilitiesInfo
      type: object
      properties:
        party_id:
          nullable: true
          description: >-
            Party ID of the party which provides the capabilities info.
          type: string
        ishare_roles:
          nullable: true
          description: >-
            Contains array of role objects that provide the information about
            the roles of the party in iSHARE.
          type: array
          items:
            $ref: '#/components/schemas/SchemeRole'
        supported_versions:
          nullable: true
          description: >-
            Contains information about supported version endpoints for each
            version.
          type: array
          items:
            $ref: '#/components/schemas/SupportedVersion'
    VersionStatus:
      title: VersionStatus
      description: Status of the version. Available values are active and planned.
      enum:
        - inactive
        - active
        - planned
      type: string
      example: planned
      x-enum-elements:
        - name: inactive
          description: ''
        - name: active
          description: ''
        - name: planned
          description: ''
    jwt_payload_ep_creation_token:
      title: jwt_payload_ep_creation_token
      required:
        - iss
        - sub
        - aud
        - jti
        - exp
        - iat
        - nbf
        - parties_info
        - status
      type: object
      properties:
        iss:
          description: The id of the issuer of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        sub:
          description: The id of the subject of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        aud:
          description: The id of the audience of this JWT.
          type: string
          example: did:ishare:NTRNL-12345678
        jti:
          description: JTI value of JWT.
          type: string
          example: 378a47c4-2822-4ca5-a49a-7e5a1cc7ea59
        exp:
          format: int32
          description: UNIX timestamp in seconds until when this JWT is valid.
          type: integer
          example: 1504684475
        iat:
          format: int32
          description: UNIX timestamp in seconds when this JWT was issued.
          type: integer
          example: 1504683475
        nbf:
          format: int32
          description: UNIX timestamp in seconds since when this JWT is valid.
          type: integer
          example: 1504683475
        parties_info:
          allOf:
            - $ref: '#/components/schemas/Party'
            - {}
        status:
          description: Status of the request for creation of entitled party
          type: string
          example: success
    TrustedListResponse:
      title: TrustedListResponse
      type: object
      properties:
        trusted_list_token:
          type: string
          format: application/jwt
          example: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsIng1YyI6WyJNSUlHa0RDQ0JIaWdBd0lCQWdJVUpYckNOdm56eTV5alU5V0ErTmprQzNPekdpSXdEUVlKS29aSWh2Y05BUUVMQlFBd1hURWVNQndHQTFVRUF3d1ZaVWxFUVZObFUwVkJURTlKUkY5SmMzTkRRVWMwTVJrd0Z3WURWUVJoRXhCT1ZGSk9UQzFwVTBoQlVrVlVSVk5VTVJNd0VRWURWUVFLRXdwcFUwaEJVa1ZVWlhOME1Rc3dDUVlEVlFRR0V3SllXREFlRncweU5ERXhNRFl4TkRNeU1URmFGdzB5TnpFeE1EWXhORE15TVRCYU1HNHhDekFKQmdOVkJBWVRBazVNTVNJd0lBWURWUVFLREJsVVpYTjBJRkJoY25ScFkybHdZVzUwSUZKbFoybHpkSEo1TVNJd0lBWURWUVFEREJsVVpYTjBJRkJoY25ScFkybHdZVzUwSUZKbFoybHpkSEo1TVJjd0ZRWURWUVJoREE1T1ZGSk9UQzB4TURBd01EQXdNRENDQVNJd0RRWUpLb1pJaHZjTkFRRUJCUUFEZ2dFUEFEQ0NBUW9DZ2dFQkFMVHNBRWVBVWs5NUI2bHZkZ1hPcjRoekUxTjJRL2E1UmUwcmsvZEJiRmZCTVBEMWN0ekVMeHJ4a0hLSEFKWjBNZmxjOWdPMitYMjdIVkRoUHF3SkZ1ZWg0VTlpend5dnF6czFWRys5U1Fzbnd6V1p5Q1RQNDBsWGx2cUtHMWtyVWlmRjJsRjNMSmVRRml3UmRSd2txZzRPM2dSU2RvTmdFU0hjOVJReVZTMHNPQUhLVlh4em1rS0NON2FTcGE3bVBVQ290SWVSRmIydFV2R1hiNWxOUUJoejdPd01jQW1NVjU4N3V6VWxuZFZLc0EwbU40UGtySWZQWjNWVmVZOHF1clByTHNPWFBYbVJyRjArWFZmcHoyeGJDMDc2M1M1bHI2VWlrNmJhWE9kQ2NWczd0MWIvNzhaTWV0NEMzVzFuS0dFYmVtcGxidjBoYXpMdUdlbExYV2tDQXdFQUFhT0NBalV3Z2dJeE1BNEdBMVVkRHdFQi93UUVBd0lHUURBTUJnTlZIUk1CQWY4RUFqQUFNQjhHQTFVZEl3UVlNQmFBRkxNYVQwSkE2ZGg0bld2Ly9DU3dFTEUwUFBDSk1GY0dDQ3NHQVFVRkJ3RUJCRXN3U1RCSEJnZ3JCZ0VGQlFjd0FZWTdhSFIwY0hNNkx5OWpZVGN1YVhOb1lYSmxkR1Z6ZEM1dVpYUTZPRFEwTWk5bGFtSmpZUzl3ZFdKc2FXTjNaV0l2YzNSaGRIVnpMMjlqYzNBd0VBWURWUjBnQkFrd0J6QUZCZ05WSFNBd0h3WURWUjBsQkJnd0ZnWUlLd1lCQlFVSEF3UUdDaXNHQVFRQmdqY0tBd3d3V3dZSUt3WUJCUVVIQVFNRVR6Qk5NQk1HQmdRQWprWUJCakFKQmdjRUFJNUdBUVlDTURZR0NDc0dBUVVGQndFRERDcFVhR2x6SUdseklIUmxjM1FnWlhObFlXd2dZMlZ5ZEdsbWFXTmhkR1VnWm05eUlIUmxjM1JwYm1jd0hnWUZaNEVNQXdFRUZUQVRFd05PVkZJVEFrNU1EQWd4TURBd01EQXdNRENCeHdZRFZSMGZCSUcvTUlHOE1JRzVvSUcyb0lHemhvR3dhSFIwY0hNNkx5OWpZVGN1YVhOb1lYSmxkR1Z6ZEM1dVpYUTZPRFEwTWk5bGFtSmpZUzl3ZFdKc2FXTjNaV0l2ZDJWaVpHbHpkQzlqWlhKMFpHbHpkRDlqYldROVkzSnNKbWx6YzNWbGNqMURUaVV6UkdWSlJFRlRaVk5GUVV4UFNVUmZTWE56UTBGSE5DVXlRMjl5WjJGdWFYcGhkR2x2Ymtsa1pXNTBhV1pwWlhJbE0wUk9WRkpPVEMxcFUwaEJVa1ZVUlZOVUpUSkRUeVV6UkdsVFNFRlNSVlJsYzNRbE1rTkRKVE5FV0Znd0hRWURWUjBPQkJZRUZGUDZERGMvK2Qya2ZJcm1uSkF1VDc0ODEzY2JNQTBHQ1NxR1NJYjNEUUVCQ3dVQUE0SUNBUUJIcDVXWGk4Vk5vRDBNYzhicnNmS213dXVRbjVhUEdQWWgrejVQY1FXelI0MEh2TzFGZTl2b3laTlp1Vk5xcENFSmNJMDRPZUJlWm9uL2x6WW9URkdTTENTUHBaeTkyaHFmaGE0SnJMa0p2RjAwaTdvSU81SFNjay9KUXhqdWFHdW1xMHVRMDJhQTZtRjNXYjlaV2tyaElvWFJVcFNpZ0c0a01Kc0MyclZkZlhpejZVUGRqdktLNWszYThCSXpmZkc3MGdKRFBqMCtzSXpjcHhacmUrTVBFSW56QkRtUWdrYmtsL1JYNFJEaG5TMWovNEI2VHNoYjJSZW1BM3E2YkFZb045SWhLbGhGdU1kOXovTUlwbkRwU3dIaElyaG5tUlpVLzRDQkVwdGF0NE1VRXRScWkyUUU1SDhQRU1MbFQvNTZwYW5uaW15RnlRTlNJeGJUcHVjSlEzeUkzUElUb0xLZ3pOY2dUVGlpaGFla3R2dHoydWorVWtkbjAwM2ZhekYzTlF2VUU3Y3g5RjdUV0JEbWs0aEdkQS9Qb2ZWQUFUeXAwVHU3a1dMZ3ZoblNNVEc4eWxpZG1ZY3FSVE1GaVNpWGhid0l1QnU4NXl5QWVXSkpvcGpPOUlBVUNxZ3FtTlNCS05WbWhFekViazhtMW9yYkRVZ2grWkFHU2FqZyt3U0FjMWduT2RqMWlKay81TDFDTHlWNmlVYlMvejY1Z2kzN3dTeW1hc2wvcE9nOUpCeGJGU3dpUER1VTY1NGh2WDFpYWpDL0gyS3JER1RXaTVMaGJ6RFRjd0JUbWhjcTZHOVpOeG8rOVlvTmxkdWVsWHAwd1ZJRzJaOU9FZ1kvcUZ2bE5xL1R6RzBSVnVvZ3Ezd2dSbU5sZ3hQU3YyQjlUYTNFREdUbGs0TlZtQT09IiwiTUlJRjJqQ0NBOEtnQXdJQkFnSVVQRzMrVEFueFZPQmNlOU5hUHQ5cFRBZ201UjR3RFFZSktvWklodmNOQVFFTEJRQXdRakVlTUJ3R0ExVUVBd3dWWlVsRVFWTmxVMFZCVEU5SlJGOVRkV0pEUVVjek1STXdFUVlEVlFRS0V3cHBVMGhCVWtWVVpYTjBNUXN3Q1FZRFZRUUdFd0pZV0RBZUZ3MHlNekE0TWpVd09UQXhNekphRncwME9EQTRNalV3T1RBd01EVmFNRjB4SGpBY0JnTlZCQU1NRldWSlJFRlRaVk5GUVV4UFNVUmZTWE56UTBGSE5ERVpNQmNHQTFVRVlSTVFUbFJTVGt3dGFWTklRVkpGVkVWVFZERVRNQkVHQTFVRUNoTUthVk5JUVZKRlZHVnpkREVMTUFrR0ExVUVCaE1DV0Znd2dnSWlNQTBHQ1NxR1NJYjNEUUVCQVFVQUE0SUNEd0F3Z2dJS0FvSUNBUURhblVnTTEvUFF5WE5UWCtVT0xHclpqUzhIYVRXUi9QNHhEOFNNQ1J4T1hIS3pITFFxRVFPdUhEL3crcng5L2JFd3pINHdWZkowbTYvcjU2S09nMHdMVWxWd095aWtPWEdvSVREMnUrVWk5dDI0dFlJa3g4empMRzdWSFZjdzRkWE90OTJzdktZMUx5YnZscHJvV3pUSGxSd29JTzFZUTRoTytyeWJzdy9LRURFWFVia293amxIQVBjd25zT1c2NDM2N0VOK2V6VDFzUzhkekZJeG1HOHFDMkxyTTJzWEpXcXE1dkplRS84NlRmWjJOTU8rQ1V4a2pqN3VQZ2JXMlYvTU9VaFl5QXRHQWp6ZC9Ld09yTE1STVlhWE9JajYxbThSNzFuaC9MVjluOGRuajB3VFFPTlRIaHVNN21kWlF4aHFPZGtMMmNrU3JCV2kzYXRFVlQxT2hCUlg0Rm1taElobVNXdUN0Z3lLaURDSW90eUdBc1gybzY4MTdmZWU0UmR0d2Z3OVE0b04zTkFodG9kNjBpT0FXQXBWdCtCVDV0dmRnR09ZV1BjYk1SNXBHemJwMzhkR1V5dXdZWlY0TEFuSUdTbTV5YXVjTkUyRTJ4clFDYkVlWm00UlBzeDVKbGVXemlways0MmQ3dnF2V0Q4OElRY1ErYlpNMlg0ckpCWk5zMTY2Q2x4K202SG1LeEtBTGViVXRqc3pzZ3lIOGNxMTBkK2s0QW84b0NhT1lqdjJJYUViTWQrZlYvVWY4a1BrelR0S2x0dGRxaWl4b0lxeWNYTUVnQmFTZ2t1YjdYb1E2SzI2dFJQSjB3NVFrdXVoM01LdEdFV2ZXN0VFR21wbkNxak92Ni9yQU1KaU1XeWgxSWdMZ05CVVBQN3phVlBwREF0Qzg4T1NKUUlEQVFBQm80R3NNSUdwTUJJR0ExVWRFd0VCL3dRSU1BWUJBZjhDQVFFd0h3WURWUjBqQkJnd0ZvQVU0dWJYMHA2RFZqTjlES3RPV1dNWUFzK0h4ZFF3R0FZRFZSMGdCQkV3RHpBRkJnTlZIU0F3QmdZRVZSMGdBREFwQmdOVkhTVUVJakFnQmdnckJnRUZCUWNEQWdZSUt3WUJCUVVIQXdRR0Npc0dBUVFCZ2pjS0F3d3dIUVlEVlIwT0JCWUVGTE1hVDBKQTZkaDRuV3YvL0NTd0VMRTBQUENKTUE0R0ExVWREd0VCL3dRRUF3SUJCakFOQmdrcWhraUc5dzBCQVFzRkFBT0NBZ0VBWnY1R3VreDBQRXZWUkVJdDhNVGFQZkNINGF3eWlpWXlpMTdoNlI1TExrMXJlcndRc1NTU0hmVnFmdGR3UkYwb2NMcDJQWEpoZTA3NXFWNDA2QzA0Q2phbU5rM2V6OVppTkhDTmpQdGZpZDZvT3hxejFYazhYUGpOWUVsYkFGbVA3ZUtsLzQ0MXZaaEd1ay9SaFhHTnhRYnRvMFExNmc4SVJjR0R2V2dOaHRydEIxRzJ4U210QjFTMnVVcFNhaVpWTk9ya2R6VGhpRUpzZVVSQm9YeFVYSXFwTHlQVFJsNk1NZ1ZhTEdSWVJjM3ZZaWo0QjdNMmhCTjcvY2puR0xzTVZ0Z2JPdjZDVjIxZzJTWG93YmdPcXpCeUg1MVVUUjZPYkhpR2owa1NDQUxHMTRJUVBrelFQaVNwanUrKzlNMmpBalBNM280MjFaT1VETVAyNDZDc3FQWHJUQWJQWEpWVVIvZ2k0dTUza216QzIxMGp2VnE5aEh3ZWx4UU9UUEZobE02RTFDaDRKYjRQUVJMS0RQRmwrNU5XNEZ5MkpBRGp5dXB5VkhuY2RMRXVQeTBQZ0NMMllvMTQ3SFNwUGo0dTdqYzFSbUhVN05PMTJFVjJaQ01mRmxSd2RHdjZpZjhxTzdzLzZscFpKanBQdExFT2JBNXRENGFoYythUE5BaTlXQ2swcGVSbTFLRTVWR0RXS0ZOU05BaUxKTnpQN20yUTZ5OGZPeTM4Y05nRkJoR09GL0tnRUlzVDEwVis1SzVvK3lsVlZ0UFZlUlJFTkV2S085RUxremUwSUhnc1RCLzZjd09pajRweE05SnZhdWowNkdnbGhJaGlJQTZxMGlEVXFCMU1VUjBIemlZOUJzbldZOWtSOGh3VjNPVytuc216dFF3R1ZFdzJralU9IiwiTUlJRmpqQ0NBM2FnQXdJQkFnSVVGajkvM2pHT1JodElwWjk4T0xSdFJIczBBWXN3RFFZSktvWklodmNOQVFFTEJRQXdRVEVkTUJzR0ExVUVBd3dVWlVsRVFWTmxVMFZCVEU5SlJGOVNiMjkwUnpJeEV6QVJCZ05WQkFvVENtbFRTRUZTUlZSbGMzUXhDekFKQmdOVkJBWVRBbGhZTUI0WERUSXpNRGd5TlRBNU1EQTBORm9YRFRRNE1EZ3lOVEE1TURBd05Wb3dRakVlTUJ3R0ExVUVBd3dWWlVsRVFWTmxVMFZCVEU5SlJGOVRkV0pEUVVjek1STXdFUVlEVlFRS0V3cHBVMGhCVWtWVVpYTjBNUXN3Q1FZRFZRUUdFd0pZV0RDQ0FpSXdEUVlKS29aSWh2Y05BUUVCQlFBRGdnSVBBRENDQWdvQ2dnSUJBTDduemt5b0ZYV2cxZ2hkRzZmbnV6dXZBZE1Xc20vSSttWDNEYnozSS9LeXFMZFd0N1hHM09XVlNuaG9zQUQyVzJTWG5sR1hxeHllMGhQdEVna1FJZGVsN0ZuRm9zV1dyc0VPcmF0Z1hsbk00TldwWURLTVdFVllybzdoekhnQ1oxMjZaUFFVTGxzNTJOY3ZwUk04UzNkWmsrWEsxa2YzVmVTMEoyaFVTRkVBWkhMeVhDWGtoVG5VSTdxbzF1cjFUbURXWXNOUXd4REdPdTdDUXlaWWRLSXdLcUk5ZUdzUkxnTTZQUWxnM3ZaQ3JvcE9vZE03bG9UdWlyQ2wzVUt3NEhyR2syY09pQWY0SWQvL2VhVkNhZndraktzSlRRdUFhaHVSejRxTXNIWUEza0RReiswK2hnblI3NHIraUxyKzhscjA0NGdsbmFXSVd2ckVHY2lSUitQZWN0ZnJMT1FRSVc3aGExM2R6V296a1QwYWduVDFMay9DR3JnTlhWcWhvc0dDMHJ1QVFQSTZEY1BOeTJJTk05Smd0Q21Cc1NqTU0xODVGSUJYNEN5MTdtNzNoOXJLalhaTXhiNlR4WDdDSVp5ZXNnQVMwYkJSYjZ4SXBLc1pybHJqRWF6c2pDMlZIUlJXT01KV1lxY1hMRDVaTnpHTVpVcjZUdDJ5Q1VBdGFtZWNEQVRLTjYvR2JzeGUwdEFCTjBwazByeDVpYys0VFhkQnJvTjlPQVpjaEg0dEpDc09DS29uQ3pBcFB4VlRoRE5NeHNvb3lGcTlEbWdYaHlFVU9Pb2VTK0ZyNEZnSCtqU0FObS9sMTc4Smg5ZXBmWFE5Z0UvNmFxUHhZak5TQmdTNjBTMUVWcUNweHcyclQxbVVZZUdmd2liVm01M2l4R3B0UjhrdGU3MG5BZ01CQUFHamZUQjdNQThHQTFVZEV3RUIvd1FGTUFNQkFmOHdId1lEVlIwakJCZ3dGb0FVMkx1Yk5TMWJQKy9oYTh2TURNK2lMcnBwZW93d0dBWURWUjBnQkJFd0R6QUZCZ05WSFNBd0JnWUVWUjBnQURBZEJnTlZIUTRFRmdRVTR1YlgwcDZEVmpOOURLdE9XV01ZQXMrSHhkUXdEZ1lEVlIwUEFRSC9CQVFEQWdFR01BMEdDU3FHU0liM0RRRUJDd1VBQTRJQ0FRQjhqcVlVdzdUditXNFpIMDZQcmFGNnpmZEN4VDAzRGhSQ2h3NFovUW0wWFZTMmdSeVJ3Y01wdFFGRVJoUE5PQTIyMXU5THFveloxYUszQjM1d2tjR0QvZEZKZ0pDSkI5NlNNdHRRbDJIcC9FaVF6OVBGRjAyZEJTcnVYaElhcmFQYk0rTklHZG15TjJaeXdHR1hJMWFVN0pEM1hHMjlTaDJBQWRPa3Y4ZEk2Z0VnenQvREhTSUliYWtiYUxkRUljN1dCOTVHVUhjSG5OajU4VHpUU3lWZkJtdGIzdkJLOUpHMElvNk5BUFdRWXgyVlA4K2ZJeWxqYTJkMTI4aGdoMGRzRHJYRkFNKzlBWDhoYWU1dnZ4Vmk4VFdzL3oyaW5nK2sraW1tdFNOZnp6S01pTzdyNXdKQWt5and0VUJsQlN0S0lBNlplcjIycG1TVFpaZXVjSGRFVGhhYmNXUWlkVlptTVAzSWY2aXg1VWV5WDhWNk9BdzBnc0kzSVViOTFRNzZkNHNMV2J6b0dOT05BWUZDMUl5ejB4V2o0N1pkNlA3WjJHZmgxVmlJYk14VmlGRGxObWJFWmZscEVTODdLL3loQlVRL3RuQ05HUW9TZHRzdXl1V2czTmZXYnlKb05aemxVOTZKV3hjcVNhWGt6c2U5ajh3YWhheUtOTTZTV0tTWTFaMDVoOEpTY09DbUZCNUY4VjNiZDVuUC91S2phN0g4TzRHT0FBUE0zT3RHK2VxMzd4Vy94TjBvQXNqYnZ0NG9qblViSnMya2lBeEVkd1h4MEs3bWNQZVM3eldtVnQ4aDRSZGNEbS9QR1REYTltOE9xaFF1Y2s4MFFudXhJVVdWcjdHV2FkaDFMeS90bDArYnZta2NuTzJ5YlJKK2dicVJFSERUZTBzeHN3PT0iLCJNSUlGY3pDQ0ExdWdBd0lCQWdJVUN2ZlN2UWVyakZEbU0yTHZtam9URE9JbkxBd3dEUVlKS29aSWh2Y05BUUVMQlFBd1FURWRNQnNHQTFVRUF3d1VaVWxFUVZObFUwVkJURTlKUkY5U2IyOTBSekl4RXpBUkJnTlZCQW9UQ21sVFNFRlNSVlJsYzNReEN6QUpCZ05WQkFZVEFsaFlNQjRYRFRJek1EZ3lOVEE1TURBd05sb1hEVFE0TURneU5UQTVNREF3TlZvd1FURWRNQnNHQTFVRUF3d1VaVWxFUVZObFUwVkJURTlKUkY5U2IyOTBSekl4RXpBUkJnTlZCQW9UQ21sVFNFRlNSVlJsYzNReEN6QUpCZ05WQkFZVEFsaFlNSUlDSWpBTkJna3Foa2lHOXcwQkFRRUZBQU9DQWc4QU1JSUNDZ0tDQWdFQXhWTUtJOVJNaG5PU0EyTG9yZ0VDM1lETmQyaXRuNzJMT2RmUlJVdTQ1Zkc3MEllditFNGtScnpKMWsyM1dYSDVzSFRiY3NscEVUZUFabmowL3hLQllkRUx1d2U2SFg4a0l3ZDFzNldHbFpjMGw3a2kxZm1qNEhxU3N0R0ovQktHajFhNzIzNld3UEpFV0VIcWZ4OVFNRWV1SktsVVNWRkZ5RTRqTXNmWXA4N2lmSXB1d0U4b0xPdzR5a0RET1A1MlRkMDZ2SENJWXJxREJydnhGZEF1RW5GeE54bFBYUkU0Z0xzeWdnNjJIT3hPdUdtaFdmc3k2VGNjSXA1WElPZGoyQ3plb1hKODJtNS9pbUJQSnZrZWZucmpFUVh6aVNFMm1pMklCRHRHUC9Bd0ZXSTdXcHNFeURYV0ltTVNSMFQzQ3VEbWtlUTE0cE5tY3FNcC9icVgzaTFhZXRhZEZUV3N1aGwwbkgyaVJxS1pESnhabFNjdTk5dG9xNUdyZGNGVWN4R1JReWwrc0ZoVWgzWGNCV0pWN1kyd25GTDJ0WTd0aHRROFpQbXpUTzhrUEtDYkVsNVU2Z0NTSWtwUlBOWkJQRzRkVDBxdSs4QmQ3MVB1N25BeTFpQjRVNnlzMzRjRmxPbEpwR00wRkdyMzVMZWZiUFI4Ymd6Nk05WE5qUmJnTURRY1hETW5maURKN0U4MW9WQnBDWE45eWRIaTFibGhha3VFQmFvYTlNL2themlwR1BtQXV4cldCTW1wMnEwd3pRcDlHUzJlOGtlSklEd0p1eXpFTGFSWkM0eWpWc1ZaUU1LLy9EKzRKM2JvVTVkckNtbW02QzFyd05SZlNadUZHTmNJWURaZUh0ZUdvQ0Y0RUE1amNnZEZhSVlyRGVqNlZBYWI0MnZONUxVQ0F3RUFBYU5qTUdFd0R3WURWUjBUQVFIL0JBVXdBd0VCL3pBZkJnTlZIU01FR0RBV2dCVFl1NXMxTFZzLzcrRnJ5OHdNejZJdXVtbDZqREFkQmdOVkhRNEVGZ1FVMkx1Yk5TMWJQKy9oYTh2TURNK2lMcnBwZW93d0RnWURWUjBQQVFIL0JBUURBZ0VHTUEwR0NTcUdTSWIzRFFFQkN3VUFBNElDQVFCYmNIeVYyYjVtR3dIV3hDU2JEd3I1VjdQZ1NaSUphMXNjckNuSUhEM1oveXhHN1hwNWNJbEJqNE15NGxSSGpadEpWdlVmVGpGcHNFREV2L1BBcTc0T0lvbE4va1BkTWZUY3pGQkdwdnNacjB4MnlVUEVKelFzVFNMeDBnd1ord3ZvS0hXRTBDN0dxZ2tBQk5yRlc4RkxxUnpOcVhzbU01b0k0YzNWNXN5eHdCWUZEVVk1TVBXZHFKRURmUnZqakpQQ1htS09QMWxPK2krRTA3dnNGcER6SFMyRktCNWM2c1RJWmt2dCtIL0NHNGhWdTZadmNGWFh6djJKSy9Fb1ZaNndVZENsdDRwTGdUUVovVzBxUUNKM0dqRmUvUFo3NG1ja1cxeC96azl6MFZRalVwVHF6M0FqUExJamo2MG5NTFRMcDUwb0ZjTUxqdVhzczB2djR0VWpDVHBzMlFnOW4wR3dMbERSNDJOeXcyVEtjTU1CNnljRW9OaVVFdTBsZ2ExSk0wU1ZTc0ZQN0dTVS9XOVZxYXRLN3hwL1hXOS9HRHZncDNaL3BQTTBFM2kxdHFwL25PVTQzWW9mOFdpNEpKNnpPZ1hCenFReE82TUlMWko0cUVmZW5BdEk3bzk1VHk1eWs5dlJib1VzdHl3c2ZDNkNWc3UwOE5ML3R0dzRPU1hPdmJrUSs3ek14Q1lUOVl5UUQ1bC9sdEMzYmdkai9sQlp6bnNCdUdZTk9CMTZ3RE5jR3B1dWFla3NmUWZCRFBIVCt2UjZnUFZGWnB5Vnd5L3R6SDZOVHBVR0Rqb0hWc0N4VWpZODcwT000RDJKY2o5T0lxcWRsa0NvV082aTRWZWM3c1R6eGlYMzlvTlNyMUc3Q29iYzNzWWRobnhnL3ZsZzFCZUNKODdwMEE9PSJdfQ.eyJpc3MiOiJkaWQ6aXNoYXJlOkVVLk5MLk5UUkxOTC0xMDAwMDAwMCIsInN1YiI6ImRpZDppc2hhcmU6RVUuTkwuTlRSTE5MLTEwMDAwMDAwIiwianRpIjoiOTc3NGQ5MjRiOGMwNGI5N2JkM2YwODA3ZGViMTU0YjYiLCJpYXQiOjE1OTE5NjYwMTAsImV4cCI6MTU5MTk2NjA0MCwiYXVkIjoiZGlkOmlzaGFyZTpFVS5OTC5OVFJMTkwtMTAwMDAwMDEiLCJ0cnVzdGVkX2xpc3QiOlt7InN1YmplY3QiOiJDPU5MLCBPPVN0YWF0IGRlciBOZWRlcmxhbmRlbiwgQ049VEVTVCBTdGFhdCBkZXIgTmVkZXJsYW5kZW4gT3JnYW5pc2F0aWUgU2VydmljZXMgQ0EgLSBHMyIsImNlcnRpZmljYXRlX2ZpbmdlcnByaW50IjoiREMxM0ZDOTRGRjAxNDlERTFCMDdGNzk2NUY2NTVBRUQ1NEM2QTZCREE3QURGNzFBNzMyRkZDRkFCQzQ1NEM3QSIsInZhbGlkaXR5IjoidmFsaWQiLCJzdGF0dXMiOiJncmFudGVkIn0seyJzdWJqZWN0IjoiQz1OTCwgTz1pU0hBUkUgRm91bmRhdGlvbiwgQ049VEVTVCBpU0hBUkUgRm91bmRhdGlvbiBQS0lvdmVyaGVpZCBPcmdhbmlzYXRpZSBTZXJ2ZXIgQ0EgLSBHMyIsImNlcnRpZmljYXRlX2ZpbmdlcnByaW50IjoiRjIxODEzM0NEM0FDMkQ5NzBEMTBDQTQ2QkIwM0Y4MzI0NTMzMjRCMEY0QUY1QzNGNjFCQUQ2RkRFRUM1RUI4MyIsInZhbGlkaXR5Ijoi
[...]
